Platfrom_43027/Platfrom/ServiceReference/Service References/AccountService/AccountService11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://172.16.80.40:2258/AccountService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://172.16.80.40:2258/AccountService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://172.16.80.40:2258/AccountService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Manager.Contract.Data" />
      <xsd:import schemaLocation="http://172.16.80.40:2258/AccountService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" />
      <xsd:import schemaLocation="http://172.16.80.40:2258/AccountService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" />
      <xsd:import schemaLocation="http://172.16.80.40:2258/AccountService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://172.16.80.40:2258/AccountService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://172.16.80.40:2258/AccountService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_InsertGUser_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertGUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_InsertGUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertGUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_InsertOrderClientSystemAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertOrderClientSystemAdmin" />
  </wsdl:message>
  <wsdl:message name="IUserService_InsertOrderClientSystemAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertOrderClientSystemAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateGUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateGUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteGUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteGUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserByAccoutName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByAccoutName" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserByAccoutName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByAccoutNameResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetGUserList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGUserList" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetGUserList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGUserListResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAccountInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountInfo" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAccountInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAccountInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_IsUserNameExist_InputMessage">
    <wsdl:part name="parameters" element="tns:IsUserNameExist" />
  </wsdl:message>
  <wsdl:message name="IUserService_IsUserNameExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsUserNameExistResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetOrderClientGUserByClientID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderClientGUserByClientID" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetOrderClientGUserByClientID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderClientGUserByClientIDResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_ModifyPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyPassword" />
  </wsdl:message>
  <wsdl:message name="IUserService_ModifyPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateDepartment_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDepartment" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateDepartment_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetInstallStationUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInstallStationUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetInstallStationUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInstallStationUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserVehicleOrg_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserVehicleOrg" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetUserVehicleOrg_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserVehicleOrgResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_InsertUserVehicleOrg_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserVehicleOrg" />
  </wsdl:message>
  <wsdl:message name="IUserService_InsertUserVehicleOrg_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserVehicleOrgResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetInstallStationUserByPage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInstallStationUserByPage" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetInstallStationUserByPage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInstallStationUserByPageResponse" />
  </wsdl:message>
  <wsdl:message name="IRoleService_InsertRole_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertRole" />
  </wsdl:message>
  <wsdl:message name="IRoleService_InsertRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IRoleService_UpdateRole_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRole" />
  </wsdl:message>
  <wsdl:message name="IRoleService_UpdateRole_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRoleResponse" />
  </wsdl:message>
  <wsdl:message name="IRoleService_DeleteRoleByID_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRoleByID" />
  </wsdl:message>
  <wsdl:message name="IRoleService_DeleteRoleByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRoleByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IRoleService_GetRoleList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleList" />
  </wsdl:message>
  <wsdl:message name="IRoleService_GetRoleList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRoleListResponse" />
  </wsdl:message>
  <wsdl:message name="IRoleService_UpdateRoleFunItems_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRoleFunItems" />
  </wsdl:message>
  <wsdl:message name="IRoleService_UpdateRoleFunItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRoleFunItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IRoleService_GetFunItemsByRoleID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFunItemsByRoleID" />
  </wsdl:message>
  <wsdl:message name="IRoleService_GetFunItemsByRoleID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFunItemsByRoleIDResponse" />
  </wsdl:message>
  <wsdl:message name="IRoleService_GetAllFunItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFunItems" />
  </wsdl:message>
  <wsdl:message name="IRoleService_GetAllFunItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllFunItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IUsrDepartment_InsertUsrDepartment_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUsrDepartment" />
  </wsdl:message>
  <wsdl:message name="IUsrDepartment_InsertUsrDepartment_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUsrDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="IUsrDepartment_UpdateUsrDepartment_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUsrDepartment" />
  </wsdl:message>
  <wsdl:message name="IUsrDepartment_UpdateUsrDepartment_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUsrDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="IUsrDepartment_DeleteUsrDepartmentByID_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUsrDepartmentByID" />
  </wsdl:message>
  <wsdl:message name="IUsrDepartment_DeleteUsrDepartmentByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUsrDepartmentByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IUsrDepartment_GetUsrDepartment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsrDepartment" />
  </wsdl:message>
  <wsdl:message name="IUsrDepartment_GetUsrDepartment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsrDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="IUsrDepartment_GetUsrDepartmentList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsrDepartmentList" />
  </wsdl:message>
  <wsdl:message name="IUsrDepartment_GetUsrDepartmentList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsrDepartmentListResponse" />
  </wsdl:message>
  <wsdl:message name="IUsrDepartment_GetUserDepartmentList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDepartmentList" />
  </wsdl:message>
  <wsdl:message name="IUsrDepartment_GetUserDepartmentList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDepartmentListResponse" />
  </wsdl:message>
  <wsdl:message name="IUsrDepartment_IsCanDeleteUsrDepartment_InputMessage">
    <wsdl:part name="parameters" element="tns:IsCanDeleteUsrDepartment" />
  </wsdl:message>
  <wsdl:message name="IUsrDepartment_IsCanDeleteUsrDepartment_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsCanDeleteUsrDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="IUserOnline_GetUserOnlineList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserOnlineList" />
  </wsdl:message>
  <wsdl:message name="IUserOnline_GetUserOnlineList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserOnlineListResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="InsertGUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/InsertGUser" message="tns:IUserService_InsertGUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/InsertGUserResponse" message="tns:IUserService_InsertGUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertOrderClientSystemAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/InsertOrderClientSystemAdmin" message="tns:IUserService_InsertOrderClientSystemAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/InsertOrderClientSystemAdminResponse" message="tns:IUserService_InsertOrderClientSystemAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UpdateGUser" message="tns:IUserService_UpdateGUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UpdateGUserResponse" message="tns:IUserService_UpdateGUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/DeleteGUser" message="tns:IUserService_DeleteGUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/DeleteGUserResponse" message="tns:IUserService_DeleteGUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByAccoutName">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserByAccoutName" message="tns:IUserService_GetUserByAccoutName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserByAccoutNameResponse" message="tns:IUserService_GetUserByAccoutName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGUserList">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetGUserList" message="tns:IUserService_GetGUserList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetGUserListResponse" message="tns:IUserService_GetGUserList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetAccountInfo" message="tns:IUserService_GetAccountInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetAccountInfoResponse" message="tns:IUserService_GetAccountInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsUserNameExist">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/IsUserNameExist" message="tns:IUserService_IsUserNameExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/IsUserNameExistResponse" message="tns:IUserService_IsUserNameExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderClientGUserByClientID">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetOrderClientGUserByClientID" message="tns:IUserService_GetOrderClientGUserByClientID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetOrderClientGUserByClientIDResponse" message="tns:IUserService_GetOrderClientGUserByClientID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/ModifyPassword" message="tns:IUserService_ModifyPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/ModifyPasswordResponse" message="tns:IUserService_ModifyPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDepartment">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UpdateDepartment" message="tns:IUserService_UpdateDepartment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UpdateDepartmentResponse" message="tns:IUserService_UpdateDepartment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInstallStationUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetInstallStationUser" message="tns:IUserService_GetInstallStationUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetInstallStationUserResponse" message="tns:IUserService_GetInstallStationUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserVehicleOrg">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetUserVehicleOrg" message="tns:IUserService_GetUserVehicleOrg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetUserVehicleOrgResponse" message="tns:IUserService_GetUserVehicleOrg_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertUserVehicleOrg">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/InsertUserVehicleOrg" message="tns:IUserService_InsertUserVehicleOrg_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/InsertUserVehicleOrgResponse" message="tns:IUserService_InsertUserVehicleOrg_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInstallStationUserByPage">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetInstallStationUserByPage" message="tns:IUserService_GetInstallStationUserByPage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetInstallStationUserByPageResponse" message="tns:IUserService_GetInstallStationUserByPage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IRoleService">
    <wsdl:operation name="InsertRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleService/InsertRole" message="tns:IRoleService_InsertRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleService/InsertRoleResponse" message="tns:IRoleService_InsertRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRole">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleService/UpdateRole" message="tns:IRoleService_UpdateRole_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleService/UpdateRoleResponse" message="tns:IRoleService_UpdateRole_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRoleByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleService/DeleteRoleByID" message="tns:IRoleService_DeleteRoleByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleService/DeleteRoleByIDResponse" message="tns:IRoleService_DeleteRoleByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRoleList">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleService/GetRoleList" message="tns:IRoleService_GetRoleList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleService/GetRoleListResponse" message="tns:IRoleService_GetRoleList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRoleFunItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleService/UpdateRoleFunItems" message="tns:IRoleService_UpdateRoleFunItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleService/UpdateRoleFunItemsResponse" message="tns:IRoleService_UpdateRoleFunItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFunItemsByRoleID">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleService/GetFunItemsByRoleID" message="tns:IRoleService_GetFunItemsByRoleID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleService/GetFunItemsByRoleIDResponse" message="tns:IRoleService_GetFunItemsByRoleID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFunItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IRoleService/GetAllFunItems" message="tns:IRoleService_GetAllFunItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRoleService/GetAllFunItemsResponse" message="tns:IRoleService_GetAllFunItems_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IUsrDepartment">
    <wsdl:operation name="InsertUsrDepartment">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsrDepartment/InsertUsrDepartment" message="tns:IUsrDepartment_InsertUsrDepartment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsrDepartment/InsertUsrDepartmentResponse" message="tns:IUsrDepartment_InsertUsrDepartment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUsrDepartment">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsrDepartment/UpdateUsrDepartment" message="tns:IUsrDepartment_UpdateUsrDepartment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsrDepartment/UpdateUsrDepartmentResponse" message="tns:IUsrDepartment_UpdateUsrDepartment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUsrDepartmentByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsrDepartment/DeleteUsrDepartmentByID" message="tns:IUsrDepartment_DeleteUsrDepartmentByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsrDepartment/DeleteUsrDepartmentByIDResponse" message="tns:IUsrDepartment_DeleteUsrDepartmentByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsrDepartment">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsrDepartment/GetUsrDepartment" message="tns:IUsrDepartment_GetUsrDepartment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsrDepartment/GetUsrDepartmentResponse" message="tns:IUsrDepartment_GetUsrDepartment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsrDepartmentList">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsrDepartment/GetUsrDepartmentList" message="tns:IUsrDepartment_GetUsrDepartmentList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsrDepartment/GetUsrDepartmentListResponse" message="tns:IUsrDepartment_GetUsrDepartmentList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDepartmentList">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsrDepartment/GetUserDepartmentList" message="tns:IUsrDepartment_GetUserDepartmentList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsrDepartment/GetUserDepartmentListResponse" message="tns:IUsrDepartment_GetUserDepartmentList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsCanDeleteUsrDepartment">
      <wsdl:input wsaw:Action="http://tempuri.org/IUsrDepartment/IsCanDeleteUsrDepartment" message="tns:IUsrDepartment_IsCanDeleteUsrDepartment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUsrDepartment/IsCanDeleteUsrDepartmentResponse" message="tns:IUsrDepartment_IsCanDeleteUsrDepartment_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IUserOnline">
    <wsdl:operation name="GetUserOnlineList">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserOnline/GetUserOnlineList" message="tns:IUserOnline_GetUserOnlineList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserOnline/GetUserOnlineListResponse" message="tns:IUserOnline_GetUserOnlineList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertGUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/InsertGUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertOrderClientSystemAdmin">
      <soap:operation soapAction="http://tempuri.org/IUserService/InsertOrderClientSystemAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/UpdateGUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/DeleteGUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByAccoutName">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserByAccoutName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGUserList">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetGUserList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountInfo">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetAccountInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsUserNameExist">
      <soap:operation soapAction="http://tempuri.org/IUserService/IsUserNameExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderClientGUserByClientID">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetOrderClientGUserByClientID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyPassword">
      <soap:operation soapAction="http://tempuri.org/IUserService/ModifyPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDepartment">
      <soap:operation soapAction="http://tempuri.org/IUserService/UpdateDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInstallStationUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetInstallStationUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserVehicleOrg">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetUserVehicleOrg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUserVehicleOrg">
      <soap:operation soapAction="http://tempuri.org/IUserService/InsertUserVehicleOrg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInstallStationUserByPage">
      <soap:operation soapAction="http://tempuri.org/IUserService/GetInstallStationUserByPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IRoleService" type="tns:IRoleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertRole">
      <soap:operation soapAction="http://tempuri.org/IRoleService/InsertRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRole">
      <soap:operation soapAction="http://tempuri.org/IRoleService/UpdateRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRoleByID">
      <soap:operation soapAction="http://tempuri.org/IRoleService/DeleteRoleByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoleList">
      <soap:operation soapAction="http://tempuri.org/IRoleService/GetRoleList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRoleFunItems">
      <soap:operation soapAction="http://tempuri.org/IRoleService/UpdateRoleFunItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFunItemsByRoleID">
      <soap:operation soapAction="http://tempuri.org/IRoleService/GetFunItemsByRoleID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFunItems">
      <soap:operation soapAction="http://tempuri.org/IRoleService/GetAllFunItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IUsrDepartment" type="tns:IUsrDepartment">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertUsrDepartment">
      <soap:operation soapAction="http://tempuri.org/IUsrDepartment/InsertUsrDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUsrDepartment">
      <soap:operation soapAction="http://tempuri.org/IUsrDepartment/UpdateUsrDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUsrDepartmentByID">
      <soap:operation soapAction="http://tempuri.org/IUsrDepartment/DeleteUsrDepartmentByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsrDepartment">
      <soap:operation soapAction="http://tempuri.org/IUsrDepartment/GetUsrDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsrDepartmentList">
      <soap:operation soapAction="http://tempuri.org/IUsrDepartment/GetUsrDepartmentList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDepartmentList">
      <soap:operation soapAction="http://tempuri.org/IUsrDepartment/GetUserDepartmentList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsCanDeleteUsrDepartment">
      <soap:operation soapAction="http://tempuri.org/IUsrDepartment/IsCanDeleteUsrDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IUserOnline" type="tns:IUserOnline">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserOnlineList">
      <soap:operation soapAction="http://tempuri.org/IUserOnline/GetUserOnlineList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://172.16.80.40:2258/AccountService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IRoleService" binding="tns:BasicHttpBinding_IRoleService">
      <soap:address location="http://172.16.80.40:2258/AccountService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IUsrDepartment" binding="tns:BasicHttpBinding_IUsrDepartment">
      <soap:address location="http://172.16.80.40:2258/AccountService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IUserOnline" binding="tns:BasicHttpBinding_IUserOnline">
      <soap:address location="http://172.16.80.40:2258/AccountService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>