Platfrom_43027/Platfrom/ServiceReference/Service References/AccountService/AccountService12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOrganizationUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrganizationUser" nillable="true" type="tns:OrganizationUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrganizationUser" nillable="true" type="tns:ArrayOfOrganizationUser" />
  <xs:complexType name="OrganizationUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganizationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrganizationUser" nillable="true" type="tns:OrganizationUser" />
</xs:schema>