Platfrom_43027/Platfrom/ServiceReference/Service References/MessageService/Gsafety.PTMS.Message.Contract.Data.Video1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data.Video" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data.Video" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="QueryMdvrFileList">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Channel" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="End_Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Mdvr_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Start_Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Video_Type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryMdvrFileList" nillable="true" type="tns:QueryMdvrFileList" />
  <xs:complexType name="DownloadFile">
    <xs:sequence>
      <xs:element minOccurs="0" name="BeginFileBackforward" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BeginTimeBackforward" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DownloadType" type="xs:int" />
      <xs:element minOccurs="0" name="EndFileBackforward" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EndTimeBackforward" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="File_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mdvr_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DownloadFile" nillable="true" type="tns:DownloadFile" />
  <xs:complexType name="VideoListResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="lstResult" nillable="true" type="tns:ArrayOfMdvrFileListResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VideoListResult" nillable="true" type="tns:VideoListResult" />
  <xs:complexType name="ArrayOfMdvrFileListResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MdvrFileListResult" nillable="true" type="tns:MdvrFileListResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMdvrFileListResult" nillable="true" type="tns:ArrayOfMdvrFileListResult" />
  <xs:complexType name="MdvrFileListResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Channel" type="xs:int" />
      <xs:element minOccurs="0" name="Download_Flag" type="xs:boolean" />
      <xs:element minOccurs="0" name="End_Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Mdvr_File_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mdvr_File_Size" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Start_Time" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MdvrFileListResult" nillable="true" type="tns:MdvrFileListResult" />
</xs:schema>