Platfrom/ServiceReference/Service References/PTMSLogManageService/LogManageService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Manager.Contract.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Manager.Contract.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAlarmDealLogInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlarmDealLogInfo" nillable="true" type="tns:AlarmDealLogInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlarmDealLogInfo" nillable="true" type="tns:ArrayOfAlarmDealLogInfo" />
  <xs:complexType name="AlarmDealLogInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlarmTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AlarmVihcleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DealPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DealTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlarmDealLogInfo" nillable="true" type="tns:AlarmDealLogInfo" />
  <xs:complexType name="ArrayOfCarAlertLogInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CarAlertLogInfo" nillable="true" type="tns:CarAlertLogInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCarAlertLogInfo" nillable="true" type="tns:ArrayOfCarAlertLogInfo" />
  <xs:complexType name="CarAlertLogInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlertTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AlertType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CarNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DealContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DealPerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DealTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ShowAlertType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VihcleType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CarAlertLogInfo" nillable="true" type="tns:CarAlertLogInfo" />
  <xs:complexType name="ArrayOfInstallLogInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InstallLogInfo" nillable="true" type="tns:InstallLogInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInstallLogInfo" nillable="true" type="tns:ArrayOfInstallLogInfo" />
  <xs:complexType name="InstallLogInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="InstalledTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RecordStaff" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SetupStaff" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SetupStation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SuiteID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vechicle_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InstallLogInfo" nillable="true" type="tns:InstallLogInfo" />
  <xs:complexType name="ArrayOfVideoLogInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VideoLogInfo" nillable="true" type="tns:VideoLogInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVideoLogInfo" nillable="true" type="tns:ArrayOfVideoLogInfo" />
  <xs:complexType name="VideoLogInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActionTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ChannelId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ivoke_Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MDVRId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Player" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VideoEndtime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VideoFileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VideoStartTime" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VideoLogInfo" nillable="true" type="tns:VideoLogInfo" />
  <xs:complexType name="VisitLogInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CONTENT_TYPE" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrgCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetVihcle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VisitTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VisiterContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Visitor" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VisitLogInfo" nillable="true" type="tns:VisitLogInfo" />
  <xs:complexType name="ArrayOfVisitLogInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VisitLogInfo" nillable="true" type="tns:VisitLogInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVisitLogInfo" nillable="true" type="tns:ArrayOfVisitLogInfo" />
  <xs:complexType name="ArrayOfSuiteInfoLog">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SuiteInfoLog" nillable="true" type="tns:SuiteInfoLog" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSuiteInfoLog" nillable="true" type="tns:ArrayOfSuiteInfoLog" />
  <xs:complexType name="SuiteInfoLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangedStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatingReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatingTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Operator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Suite_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Vehicle_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SuiteInfoLog" nillable="true" type="tns:SuiteInfoLog" />
</xs:schema>