Platfrom/ServiceReference/Service References/PTMSLogManageService/LogManageService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LogAccess">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LoginUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogoutTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SessionID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowRoleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserType" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogAccess" nillable="true" type="tns:LogAccess" />
  <xs:complexType name="ArrayOfLogAccess">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogAccess" nillable="true" type="tns:LogAccess" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogAccess" nillable="true" type="tns:ArrayOfLogAccess" />
  <xs:complexType name="ArrayOfLogOperate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogOperate" nillable="true" type="tns:LogOperate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogOperate" nillable="true" type="tns:ArrayOfLogOperate" />
  <xs:complexType name="LogOperate">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperateContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OperateType" type="xs:int" />
      <xs:element minOccurs="0" name="OperatorID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowRoleName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogOperate" nillable="true" type="tns:LogOperate" />
  <xs:complexType name="ArrayOfLogVideo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogVideo" nillable="true" type="tns:LogVideo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogVideo" nillable="true" type="tns:ArrayOfLogVideo" />
  <xs:complexType name="LogVideo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Channel" type="xs:int" />
      <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogType" type="xs:int" />
      <xs:element minOccurs="0" name="MdvrCoreSn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OperatorID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SuiteSn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogVideo" nillable="true" type="tns:LogVideo" />
</xs:schema>