Platfrom/ServiceReference/Service References/VedioService/VedioService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data.Data.Video" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data.Data.Video" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2258/VedioService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data.Enum" />
  <xs:complexType name="QueryPhotoFileListArgs">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChannelID" type="xs:int" />
      <xs:element minOccurs="0" name="DeviceType" type="xs:int" />
      <xs:element minOccurs="0" name="End_Time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MdvrCoreSn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderBy" type="xs:int" />
      <xs:element minOccurs="0" name="PageNum" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
      <xs:element minOccurs="0" name="Start_Time" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data.Enum" minOccurs="0" name="Status" type="q1:PhotoStatusEnum" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QueryPhotoFileListArgs" nillable="true" type="tns:QueryPhotoFileListArgs" />
</xs:schema>