Platfrom_43027/Platfrom/ServiceReference/Service References/MonitorGroupService/MonitorGroupService54.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMonitorGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MonitorGroup" nillable="true" type="tns:MonitorGroup" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMonitorGroup" nillable="true" type="tns:ArrayOfMonitorGroup" />
  <xs:complexType name="MonitorGroup">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupIndex" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="GroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MonitorGroup" nillable="true" type="tns:MonitorGroup" />
</xs:schema>