Platfrom_43027/Platfrom/ServiceReference/Service References/VehicleMonitorService/VehicleMonitorService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Monitor.Contract.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Monitor.Contract.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfVehicleAlert">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VehicleAlert" nillable="true" type="tns:VehicleAlert" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehicleAlert" nillable="true" type="tns:ArrayOfVehicleAlert" />
  <xs:complexType name="VehicleAlert">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlertTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AlertType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Direction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GpsTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MdvrCoreId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Speed" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SuiteInfoId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VehicleAlert" nillable="true" type="tns:VehicleAlert" />
</xs:schema>