Platfrom/ServiceReference/Service References/MessageServiceExt/Gs.PTMS.Common.Data.Data1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gs.PTMS.Common.Data.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gs.PTMS.Common.Data.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="BaseInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageType" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseInfo" nillable="true" type="tns:BaseInfo" />
  <xs:complexType name="BusinessAlertEx">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BusinessAlert">
        <xs:sequence>
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Cmd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DistrictCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GpsValid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MdvrCoreId" nillable="true" type="xs:string" />
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Organizations" nillable="true" type="q1:ArrayOfstring" />
          <xs:element minOccurs="0" name="OwnerPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Status" type="xs:int" />
          <xs:element minOccurs="0" name="SuiteID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SuiteInfoID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SuiteStatus" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="VehicleId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VehicleOwner" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VehicleType" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BusinessAlertEx" nillable="true" type="tns:BusinessAlertEx" />
  <xs:complexType name="BusinessAlert">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlertType" type="xs:int" />
      <xs:element minOccurs="0" name="GpsInfo" nillable="true" type="tns:GpsInfo" />
      <xs:element minOccurs="0" name="SerialNo" type="xs:int" />
      <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessAlert" nillable="true" type="tns:BusinessAlert" />
  <xs:complexType name="GpsInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlarmFlag" type="xs:long" />
      <xs:element minOccurs="0" name="Direction" type="xs:int" />
      <xs:element minOccurs="0" name="GpsTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GpsTimeValue" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Height" type="xs:int" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="Speed" type="xs:double" />
      <xs:element minOccurs="0" name="Status" type="xs:long" />
      <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GpsInfo" nillable="true" type="tns:GpsInfo" />
  <xs:complexType name="DeviceAlertEx">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DeviceAlert">
        <xs:sequence>
          <xs:element minOccurs="0" name="AlertType" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="AlertTypeName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Cmd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DistrictCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GpsValid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MdvrCoreId" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Organizations" nillable="true" type="q2:ArrayOfstring" />
          <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SuiteId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SuiteInfoId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SuiteStatus" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="VehicleId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DeviceAlertEx" nillable="true" type="tns:DeviceAlertEx" />
  <xs:complexType name="DeviceAlert">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlertType" type="xs:int" />
      <xs:element minOccurs="0" name="GpsInfo" nillable="true" type="tns:GpsInfo" />
      <xs:element minOccurs="0" name="SerialNo" type="xs:int" />
      <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceAlert" nillable="true" type="tns:DeviceAlert" />
  <xs:complexType name="OnOfflineEx">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OnOffline">
        <xs:sequence>
          <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MdvrCoreId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SuiteInfoID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VehicleId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OnOfflineEx" nillable="true" type="tns:OnOfflineEx" />
  <xs:complexType name="OnOffline">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsOnline" type="xs:int" />
      <xs:element minOccurs="0" name="OnOffLineTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OnOffline" nillable="true" type="tns:OnOffline" />
  <xs:complexType name="AlarmInfoEx">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AlarmInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="ButtonNum" type="xs:int" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DistrictCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GpsValid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MdvrCoreId" nillable="true" type="xs:string" />
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Organizations" nillable="true" type="q3:ArrayOfstring" />
          <xs:element minOccurs="0" name="OwnerPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SuiteID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SuiteInfoID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SuiteStatus" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="VehicleId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VehicleOwner" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VehicleType" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AlarmInfoEx" nillable="true" type="tns:AlarmInfoEx" />
  <xs:complexType name="AlarmInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GpsInfo" nillable="true" type="tns:GpsInfo" />
      <xs:element minOccurs="0" name="SerialNo" type="xs:int" />
      <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlarmInfo" nillable="true" type="tns:AlarmInfo" />
</xs:schema>