Platfrom/ServiceReference/Service References/MessageServiceExt/Gs.PTMS.Business.Data.Data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gs.PTMS.Business.Data.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gs.PTMS.Business.Data.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GPSInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlarmFlag" type="xs:long" />
      <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistrictCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GpsTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GpsTimeString" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Height" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" type="xs:short" />
      <xs:element minOccurs="0" name="Speed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:long" />
      <xs:element minOccurs="0" name="UID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GPSInfo" nillable="true" type="tns:GPSInfo" />
</xs:schema>