Platfrom/ServiceReference/Service References/EmailService/EmailService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Email.Contract.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Email.Contract.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2259/EmailService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:2259/EmailService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:complexType name="EmailInfo">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AttachmentsPath" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="IsbodyHtml" type="xs:boolean" />
      <xs:element minOccurs="0" name="MailBody" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MailCcArray" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="MailSubject" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MailToArray" nillable="true" type="q3:ArrayOfstring" />
      <xs:element minOccurs="0" name="bytepicture" nillable="true" type="xs:base64Binary" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="picturestream" nillable="true" type="q4:Stream" />
      <xs:element minOccurs="0" name="stream" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmailInfo" nillable="true" type="tns:EmailInfo" />
</xs:schema>