Platfrom_43027/Platfrom/ServiceReference/Service References/DistrictService/DistrictService51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2258/DistrictService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" />
  <xs:import schemaLocation="http://localhost:2258/DistrictService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract.Data" />
  <xs:element name="GetDistrict">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetDistrictResult" nillable="true" type="q1:MultiMessageOfDistricth_PhsrrDr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvinceAndCity">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvinceAndCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetProvinceAndCityResult" nillable="true" type="q2:MultiMessageOfDistricth_PhsrrDr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserAuthority">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract.Data" minOccurs="0" name="userAuthority" nillable="true" type="q3:UserAuthority" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserAuthorityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="AddUserAuthorityResult" nillable="true" type="q4:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserAuthority">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserAuthorityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="DeleteUserAuthorityResult" nillable="true" type="q5:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserAuthority">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract.Data" minOccurs="0" name="userAuthority" nillable="true" type="q6:UserAuthority" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserAuthorityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="UpdateUserAuthorityResult" nillable="true" type="q7:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAuthorityFuzzy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginName" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="page" nillable="true" type="q8:PagingInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAuthorityFuzzyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetUserAuthorityFuzzyResult" nillable="true" type="q9:MultiMessageOfUserAuthorityh_PhsrrDr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrictByAuthority">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrictByAuthorityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetDistrictByAuthorityResult" nillable="true" type="q10:MultiMessageOfDistricth_PhsrrDr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFuncItem">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFuncItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetFuncItemResult" nillable="true" type="q11:MultiMessageOfFuncItemh_PhsrrDr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFuncByRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFuncByRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetFuncByRoleResult" nillable="true" type="q12:SingleMessageOfRoleFuncsh_PhsrrDr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRoleFunc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract.Data" minOccurs="0" name="roleFunc" nillable="true" type="q13:RoleFuncs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRoleFuncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="UpdateRoleFuncResult" nillable="true" type="q14:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>