Platfrom_43027/Platfrom/ServiceReference/Service References/InstallStationService/InstallStationService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2258/InstallStationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract.Data" />
  <xs:import schemaLocation="http://localhost:2258/InstallStationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" />
  <xs:element name="BatchAddStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract.Data" minOccurs="0" name="installBatchList" nillable="true" type="q1:ArrayOfInstallStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchAddStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="BatchAddStationResult" nillable="true" type="q2:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInstallStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract.Data" minOccurs="0" name="installStation" nillable="true" type="q3:InstallStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInstallStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="AddInstallStationResult" nillable="true" type="q4:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInstallStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInstallStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="DeleteInstallStationResult" nillable="true" type="q5:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInstallStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract.Data" minOccurs="0" name="installStation" nillable="true" type="q6:InstallStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInstallStationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="UpdateInstallStationResult" nillable="true" type="q7:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallStationsByAlphabet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="page" nillable="true" type="q8:PagingInfo" />
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallStationsByAlphabetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetInstallStationsByAlphabetResult" nillable="true" type="q9:MultiMessageOfInstallStationh_PhsrrDr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallStationsFuzzy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="districtCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="param" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="page" nillable="true" type="q10:PagingInfo" />
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallStationsFuzzyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetInstallStationsFuzzyResult" nillable="true" type="q11:MultiMessageOfInstallStationh_PhsrrDr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallStations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetInstallStationsResult" nillable="true" type="q12:MultiMessageOfInstallStationh_PhsrrDr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckInstallStationExistByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckInstallStationExistByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="CheckInstallStationExistByNameResult" nillable="true" type="q13:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckInstallDetailById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckInstallDetailByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="CheckInstallDetailByIdResult" nillable="true" type="q14:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckInstallStationExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract.Data" minOccurs="0" name="installStationList" nillable="true" type="q15:ArrayOfInstallStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckInstallStationExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="CheckInstallStationExistResult" nillable="true" type="q16:MultiMessageOfInstallStationh_PhsrrDr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallStationUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="installStationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallStationUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetInstallStationUserResult" nillable="true" type="q17:MultiMessageOfInstallStationUserh_PhsrrDr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInstallStationUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract.Data" minOccurs="0" name="installStationUser" nillable="true" type="q18:ArrayOfInstallStationUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInstallStationUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="SaveInstallStationUserResult" nillable="true" type="q19:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallStationsByUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallStationsByUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetInstallStationsByUserResult" nillable="true" type="q20:MultiMessageOfInstallStationh_PhsrrDr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>