Platfrom_43027/Platfrom/ServiceReference/Service References/MessageServiceExt/Gs.PTMS.Common.Data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gs.PTMS.Common.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gs.PTMS.Common.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OrderClient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeginTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Contact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceCount" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="tns:StatusEnum" />
      <xs:element minOccurs="0" name="TansferMode" type="tns:TansferModeEnum" />
      <xs:element minOccurs="0" name="UserCount" type="xs:int" />
      <xs:element minOccurs="0" name="_platformversion" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderClient" nillable="true" type="tns:OrderClient" />
  <xs:simpleType name="StatusEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Normal" />
      <xs:enumeration value="Stop" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StatusEnum" nillable="true" type="tns:StatusEnum" />
  <xs:simpleType name="TansferModeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NoTransfer" />
      <xs:enumeration value="DirectTransfer" />
      <xs:enumeration value="JudgeTransfer" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TansferModeEnum" nillable="true" type="tns:TansferModeEnum" />
</xs:schema>