Platfrom_43027/Platfrom/ServiceReference/Service References/MessageServiceExt/Gsafety.PTMS.Common.Data.Data.Video.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data.Data.Video" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data.Data.Video" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="TakePictureArgs">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brightness" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Channel" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="Cmd" type="xs:int" />
      <xs:element minOccurs="0" name="Color" type="xs:int" />
      <xs:element minOccurs="0" name="Contrast" type="xs:int" />
      <xs:element minOccurs="0" name="Interval" type="xs:int" />
      <xs:element minOccurs="0" name="Mdvr_Core_Sn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quality" type="xs:int" />
      <xs:element minOccurs="0" name="Resolution" type="xs:int" />
      <xs:element minOccurs="0" name="Saturation" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TakePictureArgs" nillable="true" type="tns:TakePictureArgs" />
</xs:schema>