Platfrom_43027/Platfrom/ServiceReference/Service References/MessageServiceExt/Gsafety.PTMS.Message.Contract.Data1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="HeartbeatInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeartbeatInfo" nillable="true" type="tns:HeartbeatInfo" />
</xs:schema>