Platfrom/ServiceReference/Service References/PublicService/PublicService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FoundRegistry">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClaimTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FoundPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FoundTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Founder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FounderIDCard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Keyword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LostName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LostPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:decimal" />
      <xs:element minOccurs="0" name="VehicleID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FoundRegistry" nillable="true" type="tns:FoundRegistry" />
  <xs:complexType name="ArrayOfFoundRegistry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FoundRegistry" nillable="true" type="tns:FoundRegistry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFoundRegistry" nillable="true" type="tns:ArrayOfFoundRegistry" />
  <xs:complexType name="ArrayOfMdvrMessageVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MdvrMessageVehicle" nillable="true" type="tns:MdvrMessageVehicle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMdvrMessageVehicle" nillable="true" type="tns:ArrayOfMdvrMessageVehicle" />
  <xs:complexType name="MdvrMessageVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsChecked" type="xs:boolean" />
      <xs:element minOccurs="0" name="MdvrCoreSn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageType" type="xs:short" />
      <xs:element minOccurs="0" name="Organization" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SendTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ShowState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:short" />
      <xs:element minOccurs="0" name="VehicleId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MdvrMessageVehicle" nillable="true" type="tns:MdvrMessageVehicle" />
  <xs:complexType name="ArrayOfAppMessageVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AppMessageVehicle" nillable="true" type="tns:AppMessageVehicle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppMessageVehicle" nillable="true" type="tns:ArrayOfAppMessageVehicle" />
  <xs:complexType name="AppMessageVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChauffeurID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChauffeurName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageType" type="xs:short" />
      <xs:element minOccurs="0" name="SendTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ShowState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:short" />
      <xs:element minOccurs="0" name="VehicleID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppMessageVehicle" nillable="true" type="tns:AppMessageVehicle" />
</xs:schema>