Platfrom_43027/Platfrom/ServiceReference/Service References/ReportsService/ReportService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DevExpress.XtraPrinting.Native" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DevExpress.XtraPrinting.Native" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2038/ReportService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/DevExpress.XtraPrinting" />
  <xs:complexType name="AvailableExportModes">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DevExpress.XtraPrinting" minOccurs="0" name="Html" nillable="true" type="q1:ArrayOfHtmlExportMode" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DevExpress.XtraPrinting" minOccurs="0" name="Image" nillable="true" type="q2:ArrayOfImageExportMode" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DevExpress.XtraPrinting" minOccurs="0" name="Rtf" nillable="true" type="q3:ArrayOfRtfExportMode" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DevExpress.XtraPrinting" minOccurs="0" name="Xls" nillable="true" type="q4:ArrayOfXlsExportMode" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DevExpress.XtraPrinting" minOccurs="0" name="Xlsx" nillable="true" type="q5:ArrayOfXlsxExportMode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AvailableExportModes" nillable="true" type="tns:AvailableExportModes" />
  <xs:complexType name="DocumentMapTreeViewNode">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssociatedElementTag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nodes" nillable="true" type="tns:ArrayOfDocumentMapTreeViewNode" />
      <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentMapTreeViewNode" nillable="true" type="tns:DocumentMapTreeViewNode" />
  <xs:complexType name="ArrayOfDocumentMapTreeViewNode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentMapTreeViewNode" nillable="true" type="tns:DocumentMapTreeViewNode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentMapTreeViewNode" nillable="true" type="tns:ArrayOfDocumentMapTreeViewNode" />
</xs:schema>