Platfrom_43027/Platfrom/ServiceReference/Service References/ReportsService/ReportService15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DevExpress.Data.XtraReports.Wizard" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DevExpress.Data.XtraReports.Wizard" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2038/ReportService.svc?xsd=xsd11" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:2038/ReportService.svc?xsd=xsd15" namespace="http://schemas.datacontract.org/2004/07/DevExpress.Data.XtraReports.DataProviders" />
  <xs:import schemaLocation="http://localhost:2038/ReportService.svc?xsd=xsd17" namespace="http://schemas.datacontract.org/2004/07/DevExpress.Data.WizardFramework" />
  <xs:import schemaLocation="http://localhost:2038/ReportService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ReportModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/DevExpress.Data.WizardFramework" base="q1:WizardModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="AdjustFieldWidth" type="xs:boolean" />
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Columns" nillable="true" type="q2:ArrayOfstring" />
          <xs:element minOccurs="0" name="CustomLabelInformation" nillable="true" type="tns:CustomLabelInformation" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DevExpress.Data.XtraReports.DataProviders" minOccurs="0" name="DataMemberName" nillable="true" type="q3:TableInfo" />
          <xs:element minOccurs="0" name="DataSourceName" nillable="true" type="xs:string" />
          <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GroupingLevels" nillable="true" type="q4:ArrayOfArrayOfstring" />
          <xs:element minOccurs="0" name="IgnoreNullValuesForSummary" type="xs:boolean" />
          <xs:element minOccurs="0" name="LabelProductDetailId" type="xs:int" />
          <xs:element minOccurs="0" name="LabelProductId" type="xs:int" />
          <xs:element minOccurs="0" name="Layout" type="tns:ReportLayout" />
          <xs:element minOccurs="0" name="Portrait" type="xs:boolean" />
          <xs:element minOccurs="0" name="ReportStyleId" type="tns:ReportStyleId" />
          <xs:element minOccurs="0" name="ReportTitle" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ReportType" type="tns:ReportType" />
          <xs:element minOccurs="0" name="SummaryOptions" nillable="true" type="tns:ArrayOfColumnNameSummaryOptions" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReportModel" nillable="true" type="tns:ReportModel" />
  <xs:complexType name="CustomLabelInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Height" type="xs:float" />
      <xs:element minOccurs="0" name="HorizontalPitch" type="xs:float" />
      <xs:element minOccurs="0" name="PaperKindDataId" type="xs:int" />
      <xs:element minOccurs="0" name="SideMargin" type="xs:int" />
      <xs:element minOccurs="0" name="TopMargin" type="xs:int" />
      <xs:element minOccurs="0" name="VerticalPitch" type="xs:float" />
      <xs:element minOccurs="0" name="Width" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomLabelInformation" nillable="true" type="tns:CustomLabelInformation" />
  <xs:simpleType name="ReportLayout">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Stepped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Block">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Outline1">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Outline2">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AlignLeft1">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AlignLeft2">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Columnar">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Tabular">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Justified">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ReportLayout" nillable="true" type="tns:ReportLayout" />
  <xs:simpleType name="ReportStyleId">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Bold" />
      <xs:enumeration value="Casual" />
      <xs:enumeration value="Compact" />
      <xs:enumeration value="Corporate" />
      <xs:enumeration value="Formal" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ReportStyleId" nillable="true" type="tns:ReportStyleId" />
  <xs:simpleType name="ReportType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Standard" />
      <xs:enumeration value="Label" />
      <xs:enumeration value="Empty" />
      <xs:enumeration value="ReportStorage" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ReportType" nillable="true" type="tns:ReportType" />
  <xs:complexType name="ArrayOfColumnNameSummaryOptions">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ColumnNameSummaryOptions" nillable="true" type="tns:ColumnNameSummaryOptions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColumnNameSummaryOptions" nillable="true" type="tns:ArrayOfColumnNameSummaryOptions" />
  <xs:complexType name="ColumnNameSummaryOptions">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColumnName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Flags" type="tns:SummaryOptionFlags" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColumnNameSummaryOptions" nillable="true" type="tns:ColumnNameSummaryOptions" />
  <xs:simpleType name="SummaryOptionFlags">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="None">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">0</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Sum">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Avg">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Min">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Max">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="Count">
            <xs:annotation>
              <xs:appinfo>
                <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">16</EnumerationValue>
              </xs:appinfo>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="SummaryOptionFlags" nillable="true" type="tns:SummaryOptionFlags" />
</xs:schema>