Platfrom_43027/Platfrom/ServiceReference/Service References/OrderClientService/OrderClientService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderClientService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2258/OrderClientService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2258/OrderClientService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2258/OrderClientService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" />
      <xsd:import schemaLocation="http://localhost:2258/OrderClientService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" />
      <xsd:import schemaLocation="http://localhost:2258/OrderClientService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:2258/OrderClientService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrderClientService_InsertOrderClient_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertOrderClient" />
  </wsdl:message>
  <wsdl:message name="IOrderClientService_InsertOrderClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertOrderClientResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderClientService_UpdateOrderClient_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderClient" />
  </wsdl:message>
  <wsdl:message name="IOrderClientService_UpdateOrderClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderClientResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderClientService_GetOrderClientExList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderClientExList" />
  </wsdl:message>
  <wsdl:message name="IOrderClientService_GetOrderClientExList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderClientExListResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderClientService_ResetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetPassword" />
  </wsdl:message>
  <wsdl:message name="IOrderClientService_ResetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderClientService_SetOrderClientStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SetOrderClientStatus" />
  </wsdl:message>
  <wsdl:message name="IOrderClientService_SetOrderClientStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetOrderClientStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IOrderClientService_GetOrderClient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderClient" />
  </wsdl:message>
  <wsdl:message name="IOrderClientService_GetOrderClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderClientResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrderClientService">
    <wsdl:operation name="InsertOrderClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderClientService/InsertOrderClient" message="tns:IOrderClientService_InsertOrderClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderClientService/InsertOrderClientResponse" message="tns:IOrderClientService_InsertOrderClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderClientService/UpdateOrderClient" message="tns:IOrderClientService_UpdateOrderClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderClientService/UpdateOrderClientResponse" message="tns:IOrderClientService_UpdateOrderClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderClientExList">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderClientService/GetOrderClientExList" message="tns:IOrderClientService_GetOrderClientExList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderClientService/GetOrderClientExListResponse" message="tns:IOrderClientService_GetOrderClientExList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderClientService/ResetPassword" message="tns:IOrderClientService_ResetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderClientService/ResetPasswordResponse" message="tns:IOrderClientService_ResetPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetOrderClientStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderClientService/SetOrderClientStatus" message="tns:IOrderClientService_SetOrderClientStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderClientService/SetOrderClientStatusResponse" message="tns:IOrderClientService_SetOrderClientStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrderClientService/GetOrderClient" message="tns:IOrderClientService_GetOrderClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrderClientService/GetOrderClientResponse" message="tns:IOrderClientService_GetOrderClient_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOrderClientService" type="tns:IOrderClientService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertOrderClient">
      <soap:operation soapAction="http://tempuri.org/IOrderClientService/InsertOrderClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrderClient">
      <soap:operation soapAction="http://tempuri.org/IOrderClientService/UpdateOrderClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderClientExList">
      <soap:operation soapAction="http://tempuri.org/IOrderClientService/GetOrderClientExList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetPassword">
      <soap:operation soapAction="http://tempuri.org/IOrderClientService/ResetPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetOrderClientStatus">
      <soap:operation soapAction="http://tempuri.org/IOrderClientService/SetOrderClientStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderClient">
      <soap:operation soapAction="http://tempuri.org/IOrderClientService/GetOrderClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderClientService">
    <wsdl:port name="BasicHttpBinding_IOrderClientService" binding="tns:BasicHttpBinding_IOrderClientService">
      <soap:address location="http://localhost:2258/OrderClientService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>