Platfrom_43027/Platfrom/ServiceReference/Service References/OrganizationService/OrganizationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrganizationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2258/OrganizationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2258/OrganizationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2258/OrganizationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract" />
      <xsd:import schemaLocation="http://localhost:2258/OrganizationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" />
      <xsd:import schemaLocation="http://localhost:2258/OrganizationService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOrganization_InsertOrganization_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertOrganization" />
  </wsdl:message>
  <wsdl:message name="IOrganization_InsertOrganization_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertOrganizationResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganization_UpdateOrganization_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrganization" />
  </wsdl:message>
  <wsdl:message name="IOrganization_UpdateOrganization_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrganizationResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganization_DeleteOrganization_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrganization" />
  </wsdl:message>
  <wsdl:message name="IOrganization_DeleteOrganization_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrganizationResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganization_GetOrganizationByUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizationByUser" />
  </wsdl:message>
  <wsdl:message name="IOrganization_GetOrganizationByUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrganizationByUserResponse" />
  </wsdl:message>
  <wsdl:message name="IOrganization_GetAllOrganization_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrganization" />
  </wsdl:message>
  <wsdl:message name="IOrganization_GetAllOrganization_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrganizationResponse" />
  </wsdl:message>
  <wsdl:portType name="IOrganization">
    <wsdl:operation name="InsertOrganization">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganization/InsertOrganization" message="tns:IOrganization_InsertOrganization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganization/InsertOrganizationResponse" message="tns:IOrganization_InsertOrganization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrganization">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganization/UpdateOrganization" message="tns:IOrganization_UpdateOrganization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganization/UpdateOrganizationResponse" message="tns:IOrganization_UpdateOrganization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOrganization">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganization/DeleteOrganization" message="tns:IOrganization_DeleteOrganization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganization/DeleteOrganizationResponse" message="tns:IOrganization_DeleteOrganization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationByUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganization/GetOrganizationByUser" message="tns:IOrganization_GetOrganizationByUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganization/GetOrganizationByUserResponse" message="tns:IOrganization_GetOrganizationByUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllOrganization">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrganization/GetAllOrganization" message="tns:IOrganization_GetAllOrganization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrganization/GetAllOrganizationResponse" message="tns:IOrganization_GetAllOrganization_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOrganization" type="tns:IOrganization">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertOrganization">
      <soap:operation soapAction="http://tempuri.org/IOrganization/InsertOrganization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrganization">
      <soap:operation soapAction="http://tempuri.org/IOrganization/UpdateOrganization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrganization">
      <soap:operation soapAction="http://tempuri.org/IOrganization/DeleteOrganization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrganizationByUser">
      <soap:operation soapAction="http://tempuri.org/IOrganization/GetOrganizationByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOrganization">
      <soap:operation soapAction="http://tempuri.org/IOrganization/GetAllOrganization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrganizationService">
    <wsdl:port name="BasicHttpBinding_IOrganization" binding="tns:BasicHttpBinding_IOrganization">
      <soap:address location="http://localhost:2258/OrganizationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>