Platfrom_43027/Platfrom/ServiceReference/Service References/SecuritySuiteService/SecuritySuiteService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2258/SecuritySuiteService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="DeviceSuite">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlarmButton1Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlarmButton2Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlarmButton3Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Camera1Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Camera2Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Camera3Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Camera4Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceType" type="tns:VehicleTypeEnum" />
      <xs:element minOccurs="0" name="DoorSensorId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallStaff" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallStatus" type="tns:InstallStatusType" />
      <xs:element minOccurs="0" name="MdvrCoreId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MdvrId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MdvrSimId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MdvrSimPhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SdCardId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoftwareVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SuiteId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="UpsId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="tns:DeviceSuiteStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceSuite" nillable="true" type="tns:DeviceSuite" />
  <xs:simpleType name="VehicleTypeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Bus">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Taxi" />
      <xs:enumeration value="Flota">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="VehicleTypeEnum" nillable="true" type="tns:VehicleTypeEnum" />
  <xs:simpleType name="InstallStatusType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UnInstall">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Installing">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Installed">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="InstallStatusType" nillable="true" type="tns:InstallStatusType" />
  <xs:simpleType name="DeviceSuiteStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Initial">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">10</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Working">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">20</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Testing">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">22</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Running">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">23</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Abnormal">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">24</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="WaitingMaintenance">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">25</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Maintenance">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">30</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Scrap">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">40</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="History">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">99</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DeviceSuiteStatus" nillable="true" type="tns:DeviceSuiteStatus" />
  <xs:complexType name="ArrayOfDeviceSuite">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceSuite" nillable="true" type="tns:DeviceSuite" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviceSuite" nillable="true" type="tns:ArrayOfDeviceSuite" />
</xs:schema>