Platfrom/ServiceReference/Service References/BscGeoPoiService/BscGeoPoiService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2258/BscGeoPoiService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract.Data" />
  <xs:import schemaLocation="http://localhost:2258/BscGeoPoiService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" />
  <xs:element name="InsertBscGeoPoi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract.Data" minOccurs="0" name="model" nillable="true" type="q1:BscGeoPoi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBscGeoPoiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="InsertBscGeoPoiResult" nillable="true" type="q2:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBscGeoPoi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract.Data" minOccurs="0" name="model" nillable="true" type="q3:BscGeoPoi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBscGeoPoiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="UpdateBscGeoPoiResult" nillable="true" type="q4:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBscGeoPoiByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBscGeoPoiByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="DeleteBscGeoPoiByIDResult" nillable="true" type="q5:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBscGeoPoi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBscGeoPoiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetBscGeoPoiResult" nillable="true" type="q6:SingleMessageOfBscGeoPoih_PhsrrDr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBscGeoPoiList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="searchContent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="property" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBscGeoPoiListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetBscGeoPoiListResult" nillable="true" type="q7:MultiMessageOfBscGeoPoih_PhsrrDr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>