Platfrom/ServiceReference/Service References/MonitorGroupService/MonitorGroupService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MonitorGroupService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2258/MonitorGroupService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2258/MonitorGroupService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2258/MonitorGroupService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" />
      <xsd:import schemaLocation="http://localhost:2258/MonitorGroupService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:2258/MonitorGroupService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMonitorGroupService_GetMonitorGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMonitorGroups" />
  </wsdl:message>
  <wsdl:message name="IMonitorGroupService_GetMonitorGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMonitorGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorGroupService_AddMonitorGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMonitorGroup" />
  </wsdl:message>
  <wsdl:message name="IMonitorGroupService_AddMonitorGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMonitorGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorGroupService_UpdateVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateVehicle" />
  </wsdl:message>
  <wsdl:message name="IMonitorGroupService_UpdateVehicle_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitorGroupService_BatchAddMonitorGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:BatchAddMonitorGroup" />
  </wsdl:message>
  <wsdl:message name="IMonitorGroupService_BatchAddMonitorGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:BatchAddMonitorGroupResponse" />
  </wsdl:message>
  <wsdl:portType name="IMonitorGroupService">
    <wsdl:operation name="GetMonitorGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorGroupService/GetMonitorGroups" message="tns:IMonitorGroupService_GetMonitorGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorGroupService/GetMonitorGroupsResponse" message="tns:IMonitorGroupService_GetMonitorGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMonitorGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorGroupService/AddMonitorGroup" message="tns:IMonitorGroupService_AddMonitorGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorGroupService/AddMonitorGroupResponse" message="tns:IMonitorGroupService_AddMonitorGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorGroupService/UpdateVehicle" message="tns:IMonitorGroupService_UpdateVehicle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorGroupService/UpdateVehicleResponse" message="tns:IMonitorGroupService_UpdateVehicle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BatchAddMonitorGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitorGroupService/BatchAddMonitorGroup" message="tns:IMonitorGroupService_BatchAddMonitorGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitorGroupService/BatchAddMonitorGroupResponse" message="tns:IMonitorGroupService_BatchAddMonitorGroup_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMonitorGroupService" type="tns:IMonitorGroupService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMonitorGroups">
      <soap:operation soapAction="http://tempuri.org/IMonitorGroupService/GetMonitorGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMonitorGroup">
      <soap:operation soapAction="http://tempuri.org/IMonitorGroupService/AddMonitorGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateVehicle">
      <soap:operation soapAction="http://tempuri.org/IMonitorGroupService/UpdateVehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BatchAddMonitorGroup">
      <soap:operation soapAction="http://tempuri.org/IMonitorGroupService/BatchAddMonitorGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MonitorGroupService">
    <wsdl:port name="BasicHttpBinding_IMonitorGroupService" binding="tns:BasicHttpBinding_IMonitorGroupService">
      <soap:address location="http://localhost:2258/MonitorGroupService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>