Platfrom/ServiceReference/Service References/VehicleAlarmService/VehicleAlarmService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Alarm.Contract.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Alarm.Contract.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAlarmTreatment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlarmTreatment" nillable="true" type="tns:AlarmTreatment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlarmTreatment" nillable="true" type="tns:ArrayOfAlarmTreatment" />
  <xs:complexType name="AlarmTreatment">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlarmId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisposeStaff" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisposeTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsTrueAlarm" nillable="true" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlarmTreatment" nillable="true" type="tns:AlarmTreatment" />
</xs:schema>