Platfrom_43027/Platfrom/ServiceReference/Service References/LogService/LogService64.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLogManager">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogManager" nillable="true" type="tns:LogManager" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogManager" nillable="true" type="tns:ArrayOfLogManager" />
  <xs:complexType name="LogManager">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Manager" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManagerID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogManager" nillable="true" type="tns:LogManager" />
</xs:schema>