Platfrom_43027/Platfrom/ServiceReference/Service References/LogService/LogService61.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LogServiceContract.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LogServiceContract.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LogData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Channel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contenttype" type="xs:decimal" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Extened1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Extened2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Extened3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MdvrCoreSn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MsgID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Organization_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserDept" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogData" nillable="true" type="tns:LogData" />
  <xs:complexType name="ArrayOfLogData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogData" nillable="true" type="tns:LogData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogData" nillable="true" type="tns:ArrayOfLogData" />
</xs:schema>