Platfrom_43027/Platfrom/ServiceReference/Service References/WorkingSuiteService/WorkingSuiteService51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.SecuritySuite.Contract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.SecuritySuite.Contract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WorkingSuite">
    <xs:sequence>
      <xs:element minOccurs="0" name="AbnormalCause" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FaultTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MdvrCoreId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OnlineFlag" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SuiteId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SwitchTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VehicleId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkingSuite" nillable="true" type="tns:WorkingSuite" />
</xs:schema>