Platfrom_43027/Platfrom/ServiceReference/Service References/VehicleAlarmService/VehicleAlarmService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2259/VehicleAlarmService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" />
  <xs:import schemaLocation="http://localhost:2259/VehicleAlarmService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:2259/VehicleAlarmService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" />
  <xs:element name="GetHandledAlarms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="carNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="isTrueAlarm" nillable="true" type="xs:short" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="pagingInfo" nillable="true" type="q1:PagingInfo" />
        <xs:element minOccurs="0" name="clientid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHandledAlarmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetHandledAlarmsResult" nillable="true" type="q2:MultiMessageOfAlarmInfoExi7Zg_POJ5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAlarms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="carNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:dateTime" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="pagingInfo" nillable="true" type="q3:PagingInfo" />
        <xs:element minOccurs="0" name="clientid" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="organizations" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAlarmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetAllAlarmsResult" nillable="true" type="q5:MultiMessageOfAlarmInfoExi7Zg_POJ5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnHandledAllAlarms">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="pagingInfo" nillable="true" type="q6:PagingInfo" />
        <xs:element minOccurs="0" name="clientid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnHandledAllAlarmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetUnHandledAllAlarmsResult" nillable="true" type="q7:MultiMessageOfAlarmInfoExi7Zg_POJ5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAlarmType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAlarmTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetAllAlarmTypeResult" nillable="true" type="q8:MultiMessageOfAlarmTypeInfoi7Zg_POJ5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IfAlarmDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleAlarmId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IfAlarmDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="IfAlarmDetailResult" nillable="true" type="q9:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAlarmNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAlarmNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetAllAlarmNoteResult" nillable="true" type="q10:MultiMessageOfAlarmNoteInfoi7Zg_POJ5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAlarmNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="note" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAlarmNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="AddAlarmNoteResult" nillable="true" type="q11:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAlarmNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAlarmNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="DeleteAlarmNoteResult" nillable="true" type="q12:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAlarmNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAlarmNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="UpdateAlarmNoteResult" nillable="true" type="q13:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAlarmEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAlarmEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetAllAlarmEmailResult" nillable="true" type="q14:MultiMessageOfAlarmEmailInfoi7Zg_POJ5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAlarmEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" minOccurs="0" name="eamil" nillable="true" type="q15:AlarmEmailInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAlarmEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="AddAlarmEmailResult" nillable="true" type="q16:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAlarmEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" minOccurs="0" name="eamil" nillable="true" type="q17:AlarmEmailInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAlarmEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="UpdateAlarmEmailResult" nillable="true" type="q18:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAlarmEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAlarmEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="DeleteAlarmEmailResult" nillable="true" type="q19:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmGPSTrack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmGPSTrackResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetAlarmGPSTrackResult" nillable="true" type="q20:MultiMessageOfGPSi7Zg_POJ5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmTreatments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="alarmID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmTreatmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetAlarmTreatmentsResult" nillable="true" type="q21:MultiMessageOfAlarmTreatmentKy150u3w" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnHandledAlarms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientid" nillable="true" type="xs:string" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Organizations" nillable="true" type="q22:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnHandledAlarmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetUnHandledAlarmsResult" nillable="true" type="q23:MultiMessageOfAlarmInfoExi7Zg_POJ5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="alarmid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="alarmresult" type="xs:boolean" />
        <xs:element minOccurs="0" name="note" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="time" type="xs:dateTime" />
        <xs:element minOccurs="0" name="istransfer" type="xs:boolean" />
        <xs:element minOccurs="0" name="transfermode" type="xs:int" />
        <xs:element minOccurs="0" name="incidentlevel" type="xs:int" />
        <xs:element minOccurs="0" name="incidentaddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="incidenttype" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HandleAlarmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="HandleAlarmResult" nillable="true" type="q24:SingleMessageOfAlarmHandleResulti7Zg_POJ5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApealDisposeByAlarmID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="alarmID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApealDisposeByAlarmIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetApealDisposeByAlarmIDResult" nillable="true" type="q25:SingleMessageOfApealDisposei7Zg_POJ5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransferDisposeByAlarmID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AlarmID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransferDisposeByAlarmIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetTransferDisposeByAlarmIDResult" nillable="true" type="q26:SingleMessageOfTransferDisposei7Zg_POJ5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransferDisposeByAlarmID_CAD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AlarmID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransferDisposeByAlarmID_CADResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetTransferDisposeByAlarmID_CADResult" nillable="true" type="q27:SingleMessageOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmCheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="installationDetailID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmCheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetAlarmCheckResult" nillable="true" type="q28:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertManualAlarm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" minOccurs="0" name="alarminfo" nillable="true" type="q29:ManualAlarmInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertManualAlarmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="InsertManualAlarmResult" nillable="true" type="q30:SingleMessageOfAlarmInfoExi7Zg_POJ5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>