Platfrom/ServiceReference/Service References/MessageService/service21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data.Video" />
  <xs:element name="SendCompleteAlarmMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data" minOccurs="0" name="model" nillable="true" type="q1:CompleteAlarm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCompleteAlarmMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompleteAlarmMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompleteAlarmMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendChangeGroupVechleMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data" minOccurs="0" name="model" nillable="true" type="q2:ChangeGroupVehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendChangeGroupVechleMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangeGroupVechleMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangeGroupVechleMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendChangeGroupMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data" minOccurs="0" name="model" nillable="true" type="q3:ChangeGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendChangeGroupMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangeGroupMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangeGroupMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDeviceInstallMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data" minOccurs="0" name="model" nillable="true" type="q4:DeviceInstall" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDeviceInstallMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceInstallMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceInstallMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDeviceMaintainMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data" minOccurs="0" name="model" nillable="true" type="q5:DeviceMaintain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDeviceMaintainMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceMaintainMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceMaintainMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendHandingAlertMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data" minOccurs="0" name="model" nillable="true" type="q6:HandingAlert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendHandingAlertMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHandingAlertMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHandingAlertMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCompleteAlertMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data" minOccurs="0" name="modell" nillable="true" type="q7:CompleteAlert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCompleteAlertMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompleteAlertMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompleteAlertMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendStartInstallMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data" minOccurs="0" name="modell" nillable="true" type="q8:StartInstall" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendStartInstallMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStartInstallMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStartInstallMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDeleteInstallMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data" minOccurs="0" name="model" nillable="true" type="q9:DeleteInstall" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDeleteInstallMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeleteInstallMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeleteInstallMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeleteUserMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeleteUserMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangeUserMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChangeUserMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDeleteUserMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data" minOccurs="0" name="model" nillable="true" type="q10:DeleteUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDeleteUserMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendChangeUserMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data" minOccurs="0" name="model" nillable="true" type="q11:ChangeUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendChangeUserMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendRouteMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data" minOccurs="0" name="model" nillable="true" type="q12:RouteCMD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendRouteMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendRouteMessageSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data" minOccurs="0" name="routes" nillable="true" type="q13:ArrayOfRouteCMD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendRouteMessageSetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTravelPlanMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data" minOccurs="0" name="model" nillable="true" type="q14:TravelPlanCMD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTravelPlanMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTravelPlanMessageSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data" minOccurs="0" name="travelPlans" nillable="true" type="q15:ArrayOfTravelPlanCMD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTravelPlanMessageSetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendUpgradeNotifyMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data" minOccurs="0" name="model" nillable="true" type="q16:UpgradeNotify" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendUpgradeNotifyMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelAlarmMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelAlarmMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCancelAlarmMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCancelAlarmMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmGpsMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mdvrCoreId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmGpsMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelAlarmGpsMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mdvrCoreId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelAlarmGpsMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonitorGpsMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data" minOccurs="0" name="locationMonitorCmd" nillable="true" type="q17:LocationMonitorCMD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMonitorGpsMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelMonitorGpsMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data" minOccurs="0" name="cancelLocationMonitorCmd" nillable="true" type="q18:CancelLocationMonitorCMD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelMonitorGpsMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationMonitorEndMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationMonitorEndMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCameraNoSignalAlertMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCameraNoSignalAlertMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelCameraNoSignalAlertMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelCameraNoSignalAlertMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCameraOcclusionAlertMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCameraOcclusionAlertMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelCameraOcclusionAlertMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelCameraOcclusionAlertMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFireAlertMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFireAlertMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelFireAlertMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelFireAlertMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGpsReceiverFaultAlertMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGpsReceiverFaultAlertMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelGpsReceiverFaultAlertMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelGpsReceiverFaultAlertMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMdvrMemoryCardErrorAlertMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMdvrMemoryCardErrorAlertMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelMdvrMemoryCardErrorAlertMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelMdvrMemoryCardErrorAlertMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenOrCloseDoorAbnormalAlertMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenOrCloseDoorAbnormalAlertMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelOpenOrCloseDoorAbnormalAlertMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelOpenOrCloseDoorAbnormalAlertMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOverSpeedAlertMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOverSpeedAlertMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelOverSpeedAlertMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelOverSpeedAlertMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionAlertMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegionAlertMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelRegionAlertMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelRegionAlertMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRemoveDeviceSuiteAlertNotifyMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRemoveDeviceSuiteAlertNotifyMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelRemoveDeviceSuiteAlertNotifyMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelRemoveDeviceSuiteAlertNotifyMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemperatureAlertMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemperatureAlertMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelTemperatureAlertMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelTemperatureAlertMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoltageAbnormalAlertMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoltageAbnormalAlertMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelVoltageAbnormalAlertMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelVoltageAbnormalAlertMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInspectMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInspectMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelInspectMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelInspectMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnOfflineMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnOfflineMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelOnOfflineMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelOnOfflineMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSuiteRunintStatusMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSuiteRunintStatusMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFenceReplyMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFenceReplyMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSettingOverSpeedReplyMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSettingOverSpeedReplyMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendUpgradeCMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data" minOccurs="0" name="modell" nillable="true" type="q19:UpgradeCMD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendUpgradeCMDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendElectricFenceCMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data" minOccurs="0" name="modell" nillable="true" type="q20:ElectircFenceSendSettingModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendElectricFenceCMDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendElectricFenceCMDSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data" minOccurs="0" name="fenceSet" nillable="true" type="q21:ArrayOfElectircFenceSendSettingModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendElectricFenceCMDSetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendGetUpgradeStatusCMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data" minOccurs="0" name="model" nillable="true" type="q22:UpgradeStatusCMD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendGetUpgradeStatusCMDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSettingOverSpeedCMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data" minOccurs="0" name="model" nillable="true" type="q23:SettingOverSpeedCMD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSettingOverSpeedCMDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSettingOverSpeedCMDSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data" minOccurs="0" name="overSpeed" nillable="true" type="q24:ArrayOfSettingOverSpeedCMD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSettingOverSpeedCMDSetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendElectircFenceSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data" minOccurs="0" name="model" nillable="true" type="q25:ElectircFenceSendSettingModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendElectircFenceSettingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOverSpeedSetting">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data" minOccurs="0" name="model" nillable="true" type="q26:OverSpeedSendSettingModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOverSpeedSettingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSettingGpsUploadCMDSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data" minOccurs="0" name="model" nillable="true" type="q27:GpsSendUpModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSettingGpsUploadCMDSetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSettingAbnormalDoorUploadCMDSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data" minOccurs="0" name="model" nillable="true" type="q28:AbnormalDoorSendUpModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSettingAbnormalDoorUploadCMDSetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSettingTemperatureUploadCMDSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data" minOccurs="0" name="model" nillable="true" type="q29:TemperatureSendUpModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSettingTemperatureUploadCMDSetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSettingOneKeyAlarmUploadCMDSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data" minOccurs="0" name="model" nillable="true" type="q30:OneKeyAlarmSendUpModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSettingOneKeyAlarmUploadCMDSetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendInfomationCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data" minOccurs="0" name="model" nillable="true" type="q31:SendInfomationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendInfomationCommandResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendGetVideoListCMD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data.Video" minOccurs="0" name="model" nillable="true" type="q32:QueryMdvrFileList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendGetVideoListCMDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSettingVideoListReplyMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSettingVideoListReplyMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetV23ReplyMessage">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetV23ReplyMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDownloadMdvrFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data.Video" minOccurs="0" name="model" nillable="true" type="q33:DownloadFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDownloadMdvrFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Init">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QUEUE" nillable="true" type="xs:string" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Message.Contract.Data" minOccurs="0" name="ruleInfo" nillable="true" type="q34:RuleInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageCallBack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>