Platfrom_43027/Platfrom/ServiceReference/Service References/SystemRubbishService/SystemRubbishService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2259/SystemRubbishService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" />
  <xs:import schemaLocation="http://localhost:2259/SystemRubbishService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" />
  <xs:import schemaLocation="http://localhost:2259/SystemRubbishService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Manager.Contract.Data" />
  <xs:element name="GetAbandonVehicleList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SearchVehicleId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SearchOwner" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SearchVehicleType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vehicletypeid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAbandonVehicleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetAbandonVehicleListResult" nillable="true" type="q1:MultiMessageOfVehiclei7Zg_POJ5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" minOccurs="0" name="model" nillable="true" type="q2:Vehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="RecoverVehicleResult" nillable="true" type="q3:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAbandonDevSuiteList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="suitID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mdvrCoreSn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mdvrSn" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mdvrSim" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAbandonDevSuiteListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetAbandonDevSuiteListResult" nillable="true" type="q4:MultiMessageOfDevSuitei7Zg_POJ5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverDevSuite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" minOccurs="0" name="model" nillable="true" type="q5:DevSuite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverDevSuiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="RecoverDevSuiteResult" nillable="true" type="q6:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAbandonGUserList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="qureyUserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAbandonGUserListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetAbandonGUserListResult" nillable="true" type="q7:MultiMessageOfGUser7ZhGgAvu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverGUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Manager.Contract.Data" minOccurs="0" name="model" nillable="true" type="q8:GUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecoverGUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="RecoverGUserResult" nillable="true" type="q9:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>