Platfrom_43027/Platfrom/ServiceReference/Service References/DeviceInstallService/DeviceInstallService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2258/DeviceInstallService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" />
  <xs:import schemaLocation="http://localhost:2258/DeviceInstallService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Installation.Contract" />
  <xs:import schemaLocation="http://localhost:2258/DeviceInstallService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:2258/DeviceInstallService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Installation.Contract.Data" />
  <xs:import schemaLocation="http://localhost:2258/DeviceInstallService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" />
  <xs:element name="GetInstallingSuiteVehicleId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mdvrId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallingSuiteVehicleIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetInstallingSuiteVehicleIdResult" nillable="true" type="q1:SingleMessageOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallationResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="installationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallationResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetInstallationResultResult" nillable="true" type="q2:SingleMessageOfInstallInfoResulty_PtN1jVq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallationDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="installationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallationDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetInstallationDetailResult" nillable="true" type="q3:SingleMessageOfInstallationInfoy_PtN1jVq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGPSInstallationDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="installationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGPSInstallationDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetGPSInstallationDetailResult" nillable="true" type="q4:SingleMessageOfInstallationInfoy_PtN1jVq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInstallation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Installation.Contract" minOccurs="0" name="installation" nillable="true" type="q5:InstallationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInstallationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="AddInstallationResult" nillable="true" type="q6:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInstallation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Installation.Contract" minOccurs="0" name="installation" nillable="true" type="q7:InstallationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateInstallationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="UpdateInstallationResult" nillable="true" type="q8:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInstallation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="installationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInstallationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="DeleteInstallationResult" nillable="true" type="q9:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInstallationAudit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Installation.Contract" minOccurs="0" name="audit" nillable="true" type="q10:InstallationAudit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInstallationAuditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="AddInstallationAuditResult" nillable="true" type="q11:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInstallationAudit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="auditId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteInstallationAuditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="DeleteInstallationAuditResult" nillable="true" type="q12:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallationInProgress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="installStationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallationInProgressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetInstallationInProgressResult" nillable="true" type="q13:MultiMessageOfInstallationInfoy_PtN1jVq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallationInProgressEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="carNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="suiteId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="installer" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="installStationIds" nillable="true" type="q14:ArrayOfstring" />
        <xs:element minOccurs="0" name="beginDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:dateTime" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="pageInfo" nillable="true" type="q15:PagingInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallationInProgressExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetInstallationInProgressExResult" nillable="true" type="q16:MultiMessageOfInstallationInfoy_PtN1jVq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGPSInstallationInProgressEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="carNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gpsid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="installer" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="installStationIds" nillable="true" type="q17:ArrayOfstring" />
        <xs:element minOccurs="0" name="beginDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:dateTime" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="pageInfo" nillable="true" type="q18:PagingInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGPSInstallationInProgressExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetGPSInstallationInProgressExResult" nillable="true" type="q19:MultiMessageOfInstallationInfoy_PtN1jVq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallationFinished">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="installStationId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="beginDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallationFinishedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetInstallationFinishedResult" nillable="true" type="q20:MultiMessageOfInstallationInfoy_PtN1jVq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallationFinishedEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="carNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="suiteId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="installer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="installStationId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="beginDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallationFinishedExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetInstallationFinishedExResult" nillable="true" type="q21:MultiMessageOfInstallationInfoy_PtN1jVq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGPSInstallationFinished">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="carNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="gpsid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="installer" nillable="true" type="xs:string" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="installStationId" nillable="true" type="q22:ArrayOfstring" />
        <xs:element minOccurs="0" name="beginDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:dateTime" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="pageInfo" nillable="true" type="q23:PagingInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGPSInstallationFinishedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetGPSInstallationFinishedResult" nillable="true" type="q24:MultiMessageOfInstallationInfoy_PtN1jVq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallationFinishedEx1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="carNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="suiteId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="installer" nillable="true" type="xs:string" />
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="installStationId" nillable="true" type="q25:ArrayOfstring" />
        <xs:element minOccurs="0" name="beginDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:dateTime" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="pageInfo" nillable="true" type="q26:PagingInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallationFinishedEx1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetInstallationFinishedEx1Result" nillable="true" type="q27:MultiMessageOfInstallationInfoy_PtN1jVq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallationAudit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="carNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="suiteId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="installer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="installStationId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="beginDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:dateTime" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="pageInfo" nillable="true" type="q28:PagingInfo" />
        <xs:element minOccurs="0" name="onlyWaitCheck" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallationAuditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetInstallationAuditResult" nillable="true" type="q29:MultiMessageOfInstallationAuditCollecty_PtN1jVq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallationInProgressFuzzy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="carNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="suiteId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="installStationId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="beginDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:dateTime" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="pageInfo" nillable="true" type="q30:PagingInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallationInProgressFuzzyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetInstallationInProgressFuzzyResult" nillable="true" type="q31:MultiMessageOfInstallationInfoy_PtN1jVq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallationFinishedFuzzy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="carNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="suiteId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="installStationId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="beginDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:dateTime" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="pageInfo" nillable="true" type="q32:PagingInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallationFinishedFuzzyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetInstallationFinishedFuzzyResult" nillable="true" type="q33:MultiMessageOfInstallationInfoy_PtN1jVq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckMediaFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InstallId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="size" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckMediaFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="CheckMediaFileResult" nillable="true" type="q34:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitForStep1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Installation.Contract.Data" minOccurs="0" name="step" nillable="true" type="q35:Step1Package" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitForStep1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="SubmitForStep1Result" nillable="true" type="q36:SingleMessageOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitForStep2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Installation.Contract.Data" minOccurs="0" name="step" nillable="true" type="q37:Step2Package" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitForStep2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="SubmitForStep2Result" nillable="true" type="q38:SingleMessageOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitForStep4">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="installDetailID" nillable="true" type="xs:string" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" minOccurs="0" name="cameraInfos" nillable="true" type="q39:ArrayOfCameraInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitForStep4Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="SubmitForStep4Result" nillable="true" type="q40:SingleMessageOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitForStep6">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Installation.Contract.Data" minOccurs="0" name="step" nillable="true" type="q41:Step6Package" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitForStep6Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="SubmitForStep6Result" nillable="true" type="q42:SingleMessageOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitForMaintenance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Installation.Contract.Data" minOccurs="0" name="package" nillable="true" type="q43:MaintenancePackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitForMaintenanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="SubmitForMaintenanceResult" nillable="true" type="q44:SingleMessageOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitForDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Installation.Contract.Data" minOccurs="0" name="package" nillable="true" type="q45:DeletePackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitForDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="SubmitForDeleteResult" nillable="true" type="q46:SingleMessageOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCameraInfoByMdvrID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="suiteID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCameraInfoByMdvrIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetCameraInfoByMdvrIDResult" nillable="true" type="q47:MultiMessageOfCameraInfoi7Zg_POJ5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitGPSForStep1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Installation.Contract.Data" minOccurs="0" name="step" nillable="true" type="q48:Step1Package" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitGPSForStep1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="SubmitGPSForStep1Result" nillable="true" type="q49:SingleMessageOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitGPSForStep2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Installation.Contract.Data" minOccurs="0" name="step" nillable="true" type="q50:Step2Package" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitGPSForStep2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="SubmitGPSForStep2Result" nillable="true" type="q51:SingleMessageOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitGPSForStep3">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="installid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitGPSForStep3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="SubmitGPSForStep3Result" nillable="true" type="q52:SingleMessageOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitGPSForStep4">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="installid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitGPSForStep4Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="SubmitGPSForStep4Result" nillable="true" type="q53:SingleMessageOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmParaCommandResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="installationDetailID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlarmParaCommandResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetAlarmParaCommandResultResult" nillable="true" type="q54:SingleMessageOfSetAlarmParai7Zg_POJ5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallStatisticsViewList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="organizationID" nillable="true" type="xs:string" />
        <xs:element xmlns:q55="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stations" nillable="true" type="q55:ArrayOfstring" />
        <xs:element minOccurs="0" name="vehicleType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallStatisticsViewListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetInstallStatisticsViewListResult" nillable="true" type="q56:MultiMessageOfInstallStatisticsViewi7Zg_POJ5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceAlertStatisticsViewList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="organizationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vehicleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="stations" nillable="true" type="q57:ArrayOfstring" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceAlertStatisticsViewListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetDeviceAlertStatisticsViewListResult" nillable="true" type="q58:MultiMessageOfDeviceAlertStatisticsi7Zg_POJ5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>