Platfrom/ServiceReference/Service References/TrafficManageService/TrafficManageService73.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2258/TrafficManageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" />
  <xs:import schemaLocation="http://localhost:2258/TrafficManageService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" />
  <xs:import schemaLocation="http://localhost:2258/TrafficManageService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Traffic.Contract" />
  <xs:import schemaLocation="http://localhost:2258/TrafficManageService.svc?xsd=xsd7" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:2258/TrafficManageService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Traffic.Contract.Data" />
  <xs:element name="InsertTrafficFence">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" minOccurs="0" name="model" nillable="true" type="q1:TrafficFence" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTrafficFenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="InsertTrafficFenceResult" nillable="true" type="q2:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTrafficFence">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" minOccurs="0" name="model" nillable="true" type="q3:TrafficFence" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTrafficFenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="UpdateTrafficFenceResult" nillable="true" type="q4:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTrafficFenceByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTrafficFenceByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="DeleteTrafficFenceByIDResult" nillable="true" type="q5:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrafficFence">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrafficFenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetTrafficFenceResult" nillable="true" type="q6:SingleMessageOfTrafficFencei7Zg_POJ5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsTrafficExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fenceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fenceID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsTrafficExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="IsTrafficExistsResult" nillable="true" type="q7:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveredTrafficFenceListByVehicleID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveredTrafficFenceListByVehicleIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetDeliveredTrafficFenceListByVehicleIDResult" nillable="true" type="q8:MultiMessageOfTrafficFencei7Zg_POJ5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrafficFenceListOnVehicleByVehicleID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrafficFenceListOnVehicleByVehicleIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetTrafficFenceListOnVehicleByVehicleIDResult" nillable="true" type="q9:MultiMessageOfTrafficFencei7Zg_POJ5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrafficFenceListByVehicleIDAndFenceName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fenceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vehicleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrafficFenceListByVehicleIDAndFenceNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetTrafficFenceListByVehicleIDAndFenceNameResult" nillable="true" type="q10:MultiMessageOfTrafficFencei7Zg_POJ5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFenceQueue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" minOccurs="0" name="fencequeues" nillable="true" type="q11:ArrayOfFenceQueue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertFenceQueueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="InsertFenceQueueResult" nillable="true" type="q12:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFenceQueueByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteFenceQueueByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="DeleteFenceQueueByIDResult" nillable="true" type="q13:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObsoleteFence">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fenceID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObsoleteFenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="ObsoleteFenceResult" nillable="true" type="q14:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsFenceDelivered">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fenceID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsFenceDeliveredResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="IsFenceDeliveredResult" nillable="true" type="q15:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFenceQueueListByFenceID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fenceID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFenceQueueListByFenceIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetAllFenceQueueListByFenceIDResult" nillable="true" type="q16:MultiMessageOfFenceQueuei7Zg_POJ5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFenceQueueListByFenceID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fenceID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vehicleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFenceQueueListByFenceIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetFenceQueueListByFenceIDResult" nillable="true" type="q17:MultiMessageOfFenceQueuei7Zg_POJ5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeliverFenceQueueToVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" minOccurs="0" name="vehicles" nillable="true" type="q18:ArrayOfFenceQueue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeliverFenceQueueToVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="DeliverFenceQueueToVehicleResult" nillable="true" type="q19:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTrafficRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" minOccurs="0" name="model" nillable="true" type="q20:TrafficRoute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertTrafficRouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="InsertTrafficRouteResult" nillable="true" type="q21:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTrafficRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" minOccurs="0" name="model" nillable="true" type="q22:TrafficRoute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTrafficRouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="UpdateTrafficRouteResult" nillable="true" type="q23:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTrafficRouteByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTrafficRouteByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="DeleteTrafficRouteByIDResult" nillable="true" type="q24:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrafficRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrafficRouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetTrafficRouteResult" nillable="true" type="q25:SingleMessageOfTrafficRoutei7Zg_POJ5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsRouteExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="routeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="routeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsRouteExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="IsRouteExistsResult" nillable="true" type="q26:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrafficRouteListByVehicleIDAndRouteName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="routeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vehicleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrafficRouteListByVehicleIDAndRouteNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetTrafficRouteListByVehicleIDAndRouteNameResult" nillable="true" type="q27:MultiMessageOfTrafficRoutei7Zg_POJ5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObsoleteTrafficeRoute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="routeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObsoleteTrafficeRouteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="ObsoleteTrafficeRouteResult" nillable="true" type="q28:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsRouteDelivered">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="routeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsRouteDeliveredResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="IsRouteDeliveredResult" nillable="true" type="q29:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveredTrafficRouteListByVehicleID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveredTrafficRouteListByVehicleIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetDeliveredTrafficRouteListByVehicleIDResult" nillable="true" type="q30:MultiMessageOfTrafficRoutei7Zg_POJ5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRouteQueue">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" minOccurs="0" name="routequeues" nillable="true" type="q31:ArrayOfRouteQueue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRouteQueueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="InsertRouteQueueResult" nillable="true" type="q32:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRouteQueueByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRouteQueueByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="DeleteRouteQueueByIDResult" nillable="true" type="q33:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRouteQueueByRouteID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="routeID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vehicleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRouteQueueByRouteIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetRouteQueueByRouteIDResult" nillable="true" type="q34:MultiMessageOfRouteQueuei7Zg_POJ5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRouteQueueByRouteID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="routeID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRouteQueueByRouteIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetAllRouteQueueByRouteIDResult" nillable="true" type="q35:MultiMessageOfRouteQueuei7Zg_POJ5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeliverRouteQueueToVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" minOccurs="0" name="vehicles" nillable="true" type="q36:ArrayOfRouteQueue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeliverRouteQueueToVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="DeliverRouteQueueToVehicleResult" nillable="true" type="q37:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrafficRouteListOnVehicleByVehicleID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTrafficRouteListOnVehicleByVehicleIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetTrafficRouteListOnVehicleByVehicleIDResult" nillable="true" type="q38:MultiMessageOfRouteQueuei7Zg_POJ5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckFenceNameExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strFenceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nType" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckFenceNameExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="CheckFenceNameExistResult" nillable="true" type="q39:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFenceByNameKeyAndVehcleID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fenceName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strVehcleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nState" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFenceByNameKeyAndVehcleIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetFenceByNameKeyAndVehcleIDResult" nillable="true" type="q40:MultiMessageOfFenceeubLInqk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLFence">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLFenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetAllLFenceResult" nillable="true" type="q41:MultiMessageOfFenceeubLInqk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCarFence">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Traffic.Contract" minOccurs="0" name="carFence" nillable="true" type="q42:CarFence" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCarFenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="AddCarFenceResult" nillable="true" type="q43:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCarFenceList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Traffic.Contract" minOccurs="0" name="listcarFence" nillable="true" type="q44:ArrayOfCarFence" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCarFenceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="AddCarFenceListResult" nillable="true" type="q45:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCarFenceListForSelectModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="selectModel" nillable="true" type="q46:SelectInfoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCarFenceListForSelectModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="AddCarFenceListForSelectModelResult" nillable="true" type="q47:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCarFenceByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCarFenceByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="DeleteCarFenceByIDResult" nillable="true" type="q48:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCarFenceByFenceID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fenceID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCarFenceByFenceIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="DeleteCarFenceByFenceIDResult" nillable="true" type="q49:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCarFenceList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="listCarFence" nillable="true" type="q50:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCarFenceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="DeleteCarFenceListResult" nillable="true" type="q51:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleByFence">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fenceID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nState" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleByFenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetVehicleByFenceResult" nillable="true" type="q52:MultiMessageOfVehicle8UxEljkQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleFenceByFence">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fenceID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nState" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleFenceByFenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetVehicleFenceByFenceResult" nillable="true" type="q53:MultiMessageOfCarFence8UxEljkQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidFenceIDByCarID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VehicleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nType" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidFenceIDByCarIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetValidFenceIDByCarIDResult" nillable="true" type="q54:MultiMessageOfdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFenceVehicleState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nState" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFenceVehicleStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="UpdateFenceVehicleStateResult" nillable="true" type="q55:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFenceVehicleListState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Traffic.Contract" minOccurs="0" name="listmodel" nillable="true" type="q56:ArrayOfCarFence" />
        <xs:element minOccurs="0" name="nState" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateFenceVehicleListStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="UpdateFenceVehicleListStateResult" nillable="true" type="q57:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleFenceFailedReason">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fenceID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleFenceFailedReasonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetVehicleFenceFailedReasonResult" nillable="true" type="q58:MultiMessageOfVehicleFenceFailedReasoneubLInqk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSpeedLimit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSpeedID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSpeedLimitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="DeleteSpeedLimitResult" nillable="true" type="q59:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSpeedLimitidNameExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSpeedName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSpeedLimitidNameExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="CheckSpeedLimitidNameExistResult" nillable="true" type="q60:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpeedLimitByNameKeyAndVeicleID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="VehicleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nStatus" type="xs:short" />
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="pageInfo" nillable="true" type="q61:PagingInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpeedLimitByNameKeyAndVeicleIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetSpeedLimitByNameKeyAndVeicleIDResult" nillable="true" type="q62:MultiMessageOfSpeedLimiteubLInqk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVehicleToRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruleID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVehicleToRuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="DeleteVehicleToRuleResult" nillable="true" type="q63:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpeedLimitByNameKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nStatus" type="xs:short" />
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="pageInfo" nillable="true" type="q64:PagingInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpeedLimitByNameKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetSpeedLimitByNameKeyResult" nillable="true" type="q65:MultiMessageOfSpeedLimiteubLInqk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpeedToVehicleFialState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ruleID" nillable="true" type="xs:string" />
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="pageInfo" nillable="true" type="q66:PagingInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SpeedToVehicleFialStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="SpeedToVehicleFialStateResult" nillable="true" type="q67:MultiMessageOfSpeedStatusFailedeubLInqk" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSpeedLimitNameExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strSpeedName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSpeedLimitNameExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="CheckSpeedLimitNameExistResult" nillable="true" type="q68:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSpeedLimit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Traffic.Contract.Data" minOccurs="0" name="model" nillable="true" type="q69:SpeedLimit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSpeedLimitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="AddSpeedLimitResult" nillable="true" type="q70:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCarSpeedByCarSpeed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="carNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="speedId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCarSpeedByCarSpeedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="DeleteCarSpeedByCarSpeedResult" nillable="true" type="q71:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVehicleSpeedList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Traffic.Contract.Data" minOccurs="0" name="listModel" nillable="true" type="q72:ArrayOfCarSpeed" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVehicleSpeedListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="DeleteVehicleSpeedListResult" nillable="true" type="q73:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSpeedLimite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Traffic.Contract.Data" minOccurs="0" name="updateSpeedLimit" nillable="true" type="q74:SpeedLimit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSpeedLimiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="UpdateSpeedLimiteResult" nillable="true" type="q75:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehicleSpeedStateBySpeedIDAndCarNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Traffic.Contract.Data" minOccurs="0" name="speedInfo" nillable="true" type="q76:SpeedLimit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehicleSpeedStateBySpeedIDAndCarNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="UpdateVehicleSpeedStateBySpeedIDAndCarNumResult" nillable="true" type="q77:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleBySpeedId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="speedId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleBySpeedIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetVehicleBySpeedIdResult" nillable="true" type="q78:MultiMessageOfVehicle8UxEljkQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>