Platfrom_43027/Platfrom/ServiceReference/Service References/VehicleAlertService/VehicleAlertService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.10.12.14:2258/VehicleAlertService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfBusinessAlertEx">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BusinessAlertEx" nillable="true" type="tns:BusinessAlertEx" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBusinessAlertEx" nillable="true" type="tns:ArrayOfBusinessAlertEx" />
  <xs:complexType name="BusinessAlertEx">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlertLevel" type="xs:int" />
      <xs:element minOccurs="0" name="AlertTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AlertType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistrictCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GpsTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GpsValid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HandlePerson" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HandleTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Height" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MdvrCoreId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganizationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganizationName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Organizations" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="OwnerPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Speed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="SuiteID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SuiteInfoID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SuiteStatus" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="VehicleId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleOwner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessAlertEx" nillable="true" type="tns:BusinessAlertEx" />
  <xs:complexType name="BusinessAlertHandle">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlertLevel" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="BusinessAlertID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HandleTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HandleUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessAlertHandle" nillable="true" type="tns:BusinessAlertHandle" />
  <xs:complexType name="AlertHandleResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlertID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlertLevel" type="xs:int" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HandleTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlertHandleResult" nillable="true" type="tns:AlertHandleResult" />
  <xs:complexType name="ArrayOfAlarmEmailInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlarmEmailInfo" nillable="true" type="tns:AlarmEmailInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlarmEmailInfo" nillable="true" type="tns:ArrayOfAlarmEmailInfo" />
  <xs:complexType name="AlarmEmailInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Level" type="xs:int" />
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlarmEmailInfo" nillable="true" type="tns:AlarmEmailInfo" />
</xs:schema>