Platfrom_43027/Platfrom/ServiceReference/Service References/BscGeoPoiService/BscGeoPoiService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BscGeoPoiService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2259/BscGeoPoiService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2259/BscGeoPoiService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2259/BscGeoPoiService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract.Data" />
      <xsd:import schemaLocation="http://localhost:2259/BscGeoPoiService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" />
      <xsd:import schemaLocation="http://localhost:2259/BscGeoPoiService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBscGeoPoiService_InsertBscGeoPoi_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertBscGeoPoi" />
  </wsdl:message>
  <wsdl:message name="IBscGeoPoiService_InsertBscGeoPoi_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertBscGeoPoiResponse" />
  </wsdl:message>
  <wsdl:message name="IBscGeoPoiService_UpdateBscGeoPoi_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBscGeoPoi" />
  </wsdl:message>
  <wsdl:message name="IBscGeoPoiService_UpdateBscGeoPoi_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateBscGeoPoiResponse" />
  </wsdl:message>
  <wsdl:message name="IBscGeoPoiService_DeleteBscGeoPoiByID_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBscGeoPoiByID" />
  </wsdl:message>
  <wsdl:message name="IBscGeoPoiService_DeleteBscGeoPoiByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBscGeoPoiByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IBscGeoPoiService_GetBscGeoPoi_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBscGeoPoi" />
  </wsdl:message>
  <wsdl:message name="IBscGeoPoiService_GetBscGeoPoi_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBscGeoPoiResponse" />
  </wsdl:message>
  <wsdl:message name="IBscGeoPoiService_GetBscGeoPoiList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBscGeoPoiList" />
  </wsdl:message>
  <wsdl:message name="IBscGeoPoiService_GetBscGeoPoiList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBscGeoPoiListResponse" />
  </wsdl:message>
  <wsdl:message name="IBscGeoPoiService_GetBscGeoPoiList_ArgGis_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBscGeoPoiList_ArgGis" />
  </wsdl:message>
  <wsdl:message name="IBscGeoPoiService_GetBscGeoPoiList_ArgGis_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBscGeoPoiList_ArgGisResponse" />
  </wsdl:message>
  <wsdl:portType name="IBscGeoPoiService">
    <wsdl:operation name="InsertBscGeoPoi">
      <wsdl:input wsaw:Action="http://tempuri.org/IBscGeoPoiService/InsertBscGeoPoi" message="tns:IBscGeoPoiService_InsertBscGeoPoi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBscGeoPoiService/InsertBscGeoPoiResponse" message="tns:IBscGeoPoiService_InsertBscGeoPoi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateBscGeoPoi">
      <wsdl:input wsaw:Action="http://tempuri.org/IBscGeoPoiService/UpdateBscGeoPoi" message="tns:IBscGeoPoiService_UpdateBscGeoPoi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBscGeoPoiService/UpdateBscGeoPoiResponse" message="tns:IBscGeoPoiService_UpdateBscGeoPoi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBscGeoPoiByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IBscGeoPoiService/DeleteBscGeoPoiByID" message="tns:IBscGeoPoiService_DeleteBscGeoPoiByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBscGeoPoiService/DeleteBscGeoPoiByIDResponse" message="tns:IBscGeoPoiService_DeleteBscGeoPoiByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBscGeoPoi">
      <wsdl:input wsaw:Action="http://tempuri.org/IBscGeoPoiService/GetBscGeoPoi" message="tns:IBscGeoPoiService_GetBscGeoPoi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBscGeoPoiService/GetBscGeoPoiResponse" message="tns:IBscGeoPoiService_GetBscGeoPoi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBscGeoPoiList">
      <wsdl:input wsaw:Action="http://tempuri.org/IBscGeoPoiService/GetBscGeoPoiList" message="tns:IBscGeoPoiService_GetBscGeoPoiList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBscGeoPoiService/GetBscGeoPoiListResponse" message="tns:IBscGeoPoiService_GetBscGeoPoiList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBscGeoPoiList_ArgGis">
      <wsdl:input wsaw:Action="http://tempuri.org/IBscGeoPoiService/GetBscGeoPoiList_ArgGis" message="tns:IBscGeoPoiService_GetBscGeoPoiList_ArgGis_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBscGeoPoiService/GetBscGeoPoiList_ArgGisResponse" message="tns:IBscGeoPoiService_GetBscGeoPoiList_ArgGis_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBscGeoPoiService" type="tns:IBscGeoPoiService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertBscGeoPoi">
      <soap:operation soapAction="http://tempuri.org/IBscGeoPoiService/InsertBscGeoPoi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateBscGeoPoi">
      <soap:operation soapAction="http://tempuri.org/IBscGeoPoiService/UpdateBscGeoPoi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBscGeoPoiByID">
      <soap:operation soapAction="http://tempuri.org/IBscGeoPoiService/DeleteBscGeoPoiByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBscGeoPoi">
      <soap:operation soapAction="http://tempuri.org/IBscGeoPoiService/GetBscGeoPoi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBscGeoPoiList">
      <soap:operation soapAction="http://tempuri.org/IBscGeoPoiService/GetBscGeoPoiList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBscGeoPoiList_ArgGis">
      <soap:operation soapAction="http://tempuri.org/IBscGeoPoiService/GetBscGeoPoiList_ArgGis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BscGeoPoiService">
    <wsdl:port name="BasicHttpBinding_IBscGeoPoiService" binding="tns:BasicHttpBinding_IBscGeoPoiService">
      <soap:address location="http://localhost:2259/BscGeoPoiService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>