Platfrom/ServiceReference/Service References/CommandManageService/CommandManageService74.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="HeartbeatRule">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Interval" type="xs:decimal" />
      <xs:element minOccurs="0" name="IsEnable" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsVisible" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valid" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeartbeatRule" nillable="true" type="tns:HeartbeatRule" />
  <xs:complexType name="ArrayOfHeartbeatRule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HeartbeatRule" nillable="true" type="tns:HeartbeatRule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHeartbeatRule" nillable="true" type="tns:ArrayOfHeartbeatRule" />
  <xs:complexType name="ArrayOfHeartbeatVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HeartbeatVehicle" nillable="true" type="tns:HeartbeatVehicle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHeartbeatVehicle" nillable="true" type="tns:ArrayOfHeartbeatVehicle" />
  <xs:complexType name="HeartbeatVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HeartbeatID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Interval" type="xs:int" />
      <xs:element minOccurs="0" name="MdvrCoreSn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Organization" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PacketSeq" type="xs:decimal" />
      <xs:element minOccurs="0" name="SendTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ShowState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:short" />
      <xs:element minOccurs="0" name="VehicleBtnEnable" type="xs:boolean" />
      <xs:element minOccurs="0" name="VehicleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeartbeatVehicle" nillable="true" type="tns:HeartbeatVehicle" />
  <xs:complexType name="LocationReportRule">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Interval" type="xs:int" />
      <xs:element minOccurs="0" name="IsVisible" type="xs:boolean" />
      <xs:element minOccurs="0" name="Length" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportStrategy" type="xs:int" />
      <xs:element minOccurs="0" name="Valid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocationReportRule" nillable="true" type="tns:LocationReportRule" />
  <xs:complexType name="ArrayOfLocationReportRule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocationReportRule" nillable="true" type="tns:LocationReportRule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocationReportRule" nillable="true" type="tns:ArrayOfLocationReportRule" />
  <xs:complexType name="VideoRule">
    <xs:sequence>
      <xs:element minOccurs="0" name="Brightness" type="xs:decimal" />
      <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contrast" type="xs:decimal" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsVisible" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valid" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VideoRule" nillable="true" type="tns:VideoRule" />
  <xs:complexType name="ArrayOfVideoRule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VideoRule" nillable="true" type="tns:VideoRule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVideoRule" nillable="true" type="tns:ArrayOfVideoRule" />
  <xs:complexType name="ArrayOfLocationReportVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocationReportVehicle" nillable="true" type="tns:LocationReportVehicle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocationReportVehicle" nillable="true" type="tns:ArrayOfLocationReportVehicle" />
  <xs:complexType name="LocationReportVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsTrue" type="xs:boolean" />
      <xs:element minOccurs="0" name="LocationReportID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MdvrCoreSn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Organization" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PacketSeq" type="xs:decimal" />
      <xs:element minOccurs="0" name="SendTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ShowState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:decimal" />
      <xs:element minOccurs="0" name="VehicleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocationReportVehicle" nillable="true" type="tns:LocationReportVehicle" />
  <xs:complexType name="ArrayOfVideoRuleVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VideoRuleVehicle" nillable="true" type="tns:VideoRuleVehicle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVideoRuleVehicle" nillable="true" type="tns:ArrayOfVideoRuleVehicle" />
  <xs:complexType name="VideoRuleVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MdvrCoreSn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Organization" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PacketSeq" type="xs:decimal" />
      <xs:element minOccurs="0" name="SendTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ShowState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:decimal" />
      <xs:element minOccurs="0" name="VehicleBtnEnable" type="xs:boolean" />
      <xs:element minOccurs="0" name="VehicleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VideoRuleID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VideoRuleVehicle" nillable="true" type="tns:VideoRuleVehicle" />
  <xs:complexType name="SpeedLimit">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Duration" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsVisible" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaxSpeed" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valid" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SpeedLimit" nillable="true" type="tns:SpeedLimit" />
  <xs:complexType name="ArrayOfSpeedLimit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SpeedLimit" nillable="true" type="tns:SpeedLimit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSpeedLimit" nillable="true" type="tns:ArrayOfSpeedLimit" />
  <xs:complexType name="ArrayOfVehicleSpeed">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VehicleSpeed" nillable="true" type="tns:VehicleSpeed" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVehicleSpeed" nillable="true" type="tns:ArrayOfVehicleSpeed" />
  <xs:complexType name="VehicleSpeed">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MdvrCoreSn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Organization" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PacketSeq" type="xs:decimal" />
      <xs:element minOccurs="0" name="SendTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ShowState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpeedID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:decimal" />
      <xs:element minOccurs="0" name="VehicleBtnEnable" type="xs:boolean" />
      <xs:element minOccurs="0" name="VehicleID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VehicleSpeed" nillable="true" type="tns:VehicleSpeed" />
</xs:schema>