Platfrom_43027/Platfrom/ServiceReference/Service References/VehicleStatusService/VehicleStatusService54.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2258/VehicleStatusService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" />
  <xs:import schemaLocation="http://localhost:2258/VehicleStatusService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.SecuritySuite.Contract.Data" />
  <xs:element name="GetVehicleStatusByDistrict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="districtCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleStatusByDistrictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetVehicleStatusByDistrictResult" nillable="true" type="q1:MultiMessageOfVehicleStatusxVjn_Pu1b" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleStatusByDistrictEx">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="districtCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vehicleType" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleStatusByDistrictExResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetVehicleStatusByDistrictExResult" nillable="true" type="q2:MultiMessageOfVehicleStatusxVjn_Pu1b" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleStatusByStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="districtCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isOnline" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleStatusByStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetVehicleStatusByStatusResult" nillable="true" type="q3:MultiMessageOfVehicleStatusxVjn_Pu1b" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleStatusByGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleStatusByGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetVehicleStatusByGroupResult" nillable="true" type="q4:MultiMessageOfVehicleStatusxVjn_Pu1b" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleStatusByVehicleNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleStatusByVehicleNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetVehicleStatusByVehicleNumberResult" nillable="true" type="q5:SingleMessageOfVehicleStatusxVjn_Pu1b" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleStatusByTimeSpan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="timespan" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleStatusByTimeSpanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetVehicleStatusByTimeSpanResult" nillable="true" type="q6:MultiMessageOfVehicleStatusxVjn_Pu1b" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSuiteStatusFuzzy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="suiteId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="onlineStatus" type="xs:int" />
        <xs:element minOccurs="0" name="timespan" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="pageInfo" nillable="true" type="q7:PagingInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSuiteStatusFuzzyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetSuiteStatusFuzzyResult" nillable="true" type="q8:MultiMessageOfSuiteStatusxVjn_Pu1b" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleTimeSpanFuzzy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="suiteId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="onlineStatus" type="xs:int" />
        <xs:element minOccurs="0" name="timespan" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="pageInfo" nillable="true" type="q9:PagingInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleTimeSpanFuzzyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetVehicleTimeSpanFuzzyResult" nillable="true" type="q10:MultiMessageOfSuiteStatusxVjn_Pu1b" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSuiteStatusManagement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="suiteId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currentStatus" type="xs:int" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="pageInfo" nillable="true" type="q11:PagingInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSuiteStatusManagementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetSuiteStatusManagementResult" nillable="true" type="q12:MultiMessageOfInitialSuiteMangementxVjn_Pu1b" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunningToAbnoraml">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.SecuritySuite.Contract.Data" minOccurs="0" name="newSuiteStatus" nillable="true" type="q13:SuiteMangementInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunningToAbnoramlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RunningToAbnoramlResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbnoramlToRepair">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.SecuritySuite.Contract.Data" minOccurs="0" name="newSuiteStatus" nillable="true" type="q14:SuiteMangementInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbnoramlToRepairResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AbnoramlToRepairResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbnoramlToRunning">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.SecuritySuite.Contract.Data" minOccurs="0" name="newSuiteStatus" nillable="true" type="q15:SuiteMangementInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbnoramlToRunningResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AbnoramlToRunningResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RepairToInitial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.SecuritySuite.Contract.Data" minOccurs="0" name="newSuiteStatus" nillable="true" type="q16:SuiteMangementInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RepairToInitialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RepairToInitialResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>