Platfrom/ServiceReference/Service References/InstallStationService/InstallStationService51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfInstallStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InstallStation" nillable="true" type="tns:InstallStation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInstallStation" nillable="true" type="tns:ArrayOfInstallStation" />
  <xs:complexType name="InstallStation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Director" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DirectorPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistrictCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProvinceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valid" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InstallStation" nillable="true" type="tns:InstallStation" />
  <xs:complexType name="ArrayOfInstallStationUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InstallStationUser" nillable="true" type="tns:InstallStationUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInstallStationUser" nillable="true" type="tns:ArrayOfInstallStationUser" />
  <xs:complexType name="InstallStationUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InstallStationID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InstallStationUser" nillable="true" type="tns:InstallStationUser" />
</xs:schema>