Platfrom_43027/Platfrom/ManagerTest/Service References/ADUserInfoService/ADUserInfoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:26396/ADUserInfoService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import schemaLocation="http://localhost:26396/ADUserInfoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Gsafety.Ant.Manager.Contract.Data" />
  <xs:complexType name="SingleMessageOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="SingleMessageOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="ExceptionMessage" nillable="true" type="q1:Exception" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SingleMessageOfboolean" nillable="true" type="tns:SingleMessageOfboolean" />
  <xs:complexType name="SingleMessageOfADAccountInfos_Pk8VuiR">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="SingleMessageOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ADAccountInfo" Namespace="http://schemas.datacontract.org/2004/07/Gsafety.Ant.Manager.Contract.Data" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="ExceptionMessage" nillable="true" type="q2:Exception" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Gsafety.Ant.Manager.Contract.Data" minOccurs="0" name="Result" nillable="true" type="q3:ADAccountInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SingleMessageOfADAccountInfos_Pk8VuiR" nillable="true" type="tns:SingleMessageOfADAccountInfos_Pk8VuiR" />
</xs:schema>