Platfrom/ServiceReference/Service References/DeviceAlertService/DeviceAlertService76.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2259/DeviceAlertService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfDeviceAlertEx">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceAlertEx" nillable="true" type="tns:DeviceAlertEx" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviceAlertEx" nillable="true" type="tns:ArrayOfDeviceAlertEx" />
  <xs:complexType name="DeviceAlertEx">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdditionalInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlertTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AlertType" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AlertTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cmd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistrictCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GpsTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GpsValid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MdvrCoreId" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Organizations" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Speed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SuiteId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SuiteInfoId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SuiteStatus" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="VehicleId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceAlertEx" nillable="true" type="tns:DeviceAlertEx" />
</xs:schema>