Platfrom_43027/Platfrom/ServiceReference/Service References/InstallStaffService/InstallStaffService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:26443/InstallStaffService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract.Data" />
  <xs:import schemaLocation="http://localhost:26443/InstallStaffService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" />
  <xs:element name="GetInstallStaffByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract.Data" minOccurs="0" name="type" type="q1:MaintenanceStaffType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallStaffByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetInstallStaffByTypeResult" nillable="true" type="q2:MultiMessageOfInstallStaffBasicInfoh_PhsrrDr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>