Platfrom/ServiceReference/Service References/OrderClientService/OrderClientService22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OrderClientEx">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OrderClient">
        <xs:sequence>
          <xs:element minOccurs="0" name="ActualDeviceCount" type="xs:int" />
          <xs:element minOccurs="0" name="ActualUserCount" type="xs:int" />
          <xs:element minOccurs="0" name="Row" type="xs:int" />
          <xs:element minOccurs="0" name="StatusStr" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderClientEx" nillable="true" type="tns:OrderClientEx" />
  <xs:complexType name="OrderClient">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeginTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Contact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeviceCount" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="tns:StatusEnum" />
      <xs:element minOccurs="0" name="TansferMode" type="tns:TansferModeEnum" />
      <xs:element minOccurs="0" name="UserCount" type="xs:int" />
      <xs:element minOccurs="0" name="_platformversion" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderClient" nillable="true" type="tns:OrderClient" />
  <xs:simpleType name="StatusEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Normal" />
      <xs:enumeration value="Stop" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StatusEnum" nillable="true" type="tns:StatusEnum" />
  <xs:simpleType name="TansferModeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NoTransfer" />
      <xs:enumeration value="DirectTransfer" />
      <xs:enumeration value="JudgeTransfer" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TansferModeEnum" nillable="true" type="tns:TansferModeEnum" />
  <xs:complexType name="LogManager">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Manager" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManagerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserDept" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogManager" nillable="true" type="tns:LogManager" />
  <xs:complexType name="ArrayOfOrderClientEx">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderClientEx" nillable="true" type="tns:OrderClientEx" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderClientEx" nillable="true" type="tns:ArrayOfOrderClientEx" />
</xs:schema>