Platfrom/ServiceReference/Service References/AccountService/AccountService88.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LogOperate">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperateContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OperateType" type="xs:int" />
      <xs:element minOccurs="0" name="OperatorID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowRoleName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogOperate" nillable="true" type="tns:LogOperate" />
  <xs:complexType name="ArrayOfUserOnline">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserOnline" nillable="true" type="tns:UserOnline" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserOnline" nillable="true" type="tns:ArrayOfUserOnline" />
  <xs:complexType name="UserOnline">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OnlineTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserOnline" nillable="true" type="tns:UserOnline" />
</xs:schema>