Platfrom/ServiceReference/Service References/AccountService/AccountService11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2258/AccountService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Manager.Contract.Data" />
  <xs:import schemaLocation="http://localhost:2258/AccountService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" />
  <xs:import schemaLocation="http://localhost:2258/AccountService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" />
  <xs:import schemaLocation="http://localhost:2258/AccountService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="InsertGUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Manager.Contract.Data" minOccurs="0" name="model" nillable="true" type="q1:GUser" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" minOccurs="0" name="logOperate" nillable="true" type="q2:LogOperate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertGUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="InsertGUserResult" nillable="true" type="q3:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrderClientSystemAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Manager.Contract.Data" minOccurs="0" name="model" nillable="true" type="q4:GUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrderClientSystemAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="InsertOrderClientSystemAdminResult" nillable="true" type="q5:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Manager.Contract.Data" minOccurs="0" name="model" nillable="true" type="q6:GUser" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" minOccurs="0" name="logOperate" nillable="true" type="q7:LogOperate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="UpdateGUserResult" nillable="true" type="q8:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" minOccurs="0" name="logOperate" nillable="true" type="q9:LogOperate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="DeleteGUserResult" nillable="true" type="q10:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByAccoutName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="account" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByAccoutNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetUserByAccoutNameResult" nillable="true" type="q11:SingleMessageOfGUser7ZhGgAvu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGUserList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userDepartmentID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="qureyUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGUserListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetGUserListResult" nillable="true" type="q12:MultiMessageOfGUser7ZhGgAvu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="account" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetAccountInfoResult" nillable="true" type="q13:SingleMessageOfAccountInfo7ZhGgAvu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserNameExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserNameExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="IsUserNameExistResult" nillable="true" type="q14:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderClientGUserByClientID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderClientGUserByClientIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetOrderClientGUserByClientIDResult" nillable="true" type="q15:SingleMessageOfGUser7ZhGgAvu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" minOccurs="0" name="logOperate" nillable="true" type="q16:LogOperate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="ModifyPasswordResult" nillable="true" type="q17:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="departmentID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="UpdateDepartmentResult" nillable="true" type="q18:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallStationUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallStationUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetInstallStationUserResult" nillable="true" type="q19:MultiMessageOfGUser7ZhGgAvu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserVehicleOrg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserVehicleOrgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetUserVehicleOrgResult" nillable="true" type="q20:MultiMessageOfOrganizationUsernBlkyCYJ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserVehicleOrg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="orgIds" nillable="true" type="q21:ArrayOfstring" />
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUserVehicleOrgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="InsertUserVehicleOrgResult" nillable="true" type="q22:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallStationUserByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstallStationUserByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetInstallStationUserByPageResult" nillable="true" type="q23:MultiMessageOfGUser7ZhGgAvu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Manager.Contract.Data" minOccurs="0" name="model" nillable="true" type="q24:Role" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" minOccurs="0" name="logOperate" nillable="true" type="q25:LogOperate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="InsertRoleResult" nillable="true" type="q26:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Manager.Contract.Data" minOccurs="0" name="model" nillable="true" type="q27:Role" />
        <xs:element minOccurs="0" name="IsUpdateRole" type="xs:boolean" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" minOccurs="0" name="logOperate" nillable="true" type="q28:LogOperate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="UpdateRoleResult" nillable="true" type="q29:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRoleByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" minOccurs="0" name="logOperate" nillable="true" type="q30:LogOperate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRoleByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="DeleteRoleByIDResult" nillable="true" type="q31:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetRoleListResult" nillable="true" type="q32:MultiMessageOfRole7ZhGgAvu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRoleFunItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roleID" nillable="true" type="xs:string" />
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="funItemIDs" nillable="true" type="q33:ArrayOfstring" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" minOccurs="0" name="logOperate" nillable="true" type="q34:LogOperate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRoleFunItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="UpdateRoleFunItemsResult" nillable="true" type="q35:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFunItemsByRoleID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="roleID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFunItemsByRoleIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetFunItemsByRoleIDResult" nillable="true" type="q36:MultiMessageOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFunItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllFunItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetAllFunItemsResult" nillable="true" type="q37:MultiMessageOfFuncItem7ZhGgAvu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUsrDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Manager.Contract.Data" minOccurs="0" name="model" nillable="true" type="q38:UsrDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUsrDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="InsertUsrDepartmentResult" nillable="true" type="q39:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUsrDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Manager.Contract.Data" minOccurs="0" name="model" nillable="true" type="q40:UsrDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUsrDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="UpdateUsrDepartmentResult" nillable="true" type="q41:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUsrDepartmentByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUsrDepartmentByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="DeleteUsrDepartmentByIDResult" nillable="true" type="q42:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsrDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsrDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetUsrDepartmentResult" nillable="true" type="q43:SingleMessageOfUsrDepartment7ZhGgAvu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsrDepartmentList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsrDepartmentListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetUsrDepartmentListResult" nillable="true" type="q44:MultiMessageOfUsrDepartment7ZhGgAvu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDepartmentList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDepartmentListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetUserDepartmentListResult" nillable="true" type="q45:MultiMessageOfUsrDepartment7ZhGgAvu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsCanDeleteUsrDepartment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsCanDeleteUsrDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="IsCanDeleteUsrDepartmentResult" nillable="true" type="q46:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserOnlineList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserOnlineListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetUserOnlineListResult" nillable="true" type="q47:MultiMessageOfUserOnlinei7Zg_POJ5" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>