Platfrom_43027/Platfrom/ServiceReference/Service References/LogTestService/LogTest.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LogTest" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2258/LogTest.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2258/LogTest.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILogTest_ShowLogName_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowLogName" />
  </wsdl:message>
  <wsdl:message name="ILogTest_ShowLogName_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowLogNameResponse" />
  </wsdl:message>
  <wsdl:message name="ILogTest_ShowLogName2_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowLogName2" />
  </wsdl:message>
  <wsdl:message name="ILogTest_ShowLogName2_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowLogName2Response" />
  </wsdl:message>
  <wsdl:portType name="ILogTest">
    <wsdl:operation name="ShowLogName">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogTest/ShowLogName" message="tns:ILogTest_ShowLogName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogTest/ShowLogNameResponse" message="tns:ILogTest_ShowLogName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowLogName2">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogTest/ShowLogName2" message="tns:ILogTest_ShowLogName2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogTest/ShowLogName2Response" message="tns:ILogTest_ShowLogName2_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILogTest" type="tns:ILogTest">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ShowLogName">
      <soap:operation soapAction="http://tempuri.org/ILogTest/ShowLogName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowLogName2">
      <soap:operation soapAction="http://tempuri.org/ILogTest/ShowLogName2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LogTest">
    <wsdl:port name="BasicHttpBinding_ILogTest" binding="tns:BasicHttpBinding_ILogTest">
      <soap:address location="http://localhost:2258/LogTest.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>