Platfrom_43027/Platfrom/ServiceReference/Service References/ChauffeurService/ChauffeurService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfChauffeur">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Chauffeur" nillable="true" type="tns:Chauffeur" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChauffeur" nillable="true" type="tns:ArrayOfChauffeur" />
  <xs:complexType name="Chauffeur">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CellPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DriverLicense" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICardID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valid" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Chauffeur" nillable="true" type="tns:Chauffeur" />
  <xs:complexType name="ArrayOfChauffeurVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ChauffeurVehicle" nillable="true" type="tns:ChauffeurVehicle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChauffeurVehicle" nillable="true" type="tns:ArrayOfChauffeurVehicle" />
  <xs:complexType name="ChauffeurVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" name="Activate" type="xs:int" />
      <xs:element minOccurs="0" name="ChauffeurID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VehicleID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChauffeurVehicle" nillable="true" type="tns:ChauffeurVehicle" />
</xs:schema>