Platfrom_43027/Platfrom/ServiceReference/Service References/ChauffeurService/ChauffeurService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2258/ChauffeurService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract.Data" />
  <xs:import schemaLocation="http://localhost:2258/ChauffeurService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" />
  <xs:element name="AddChauffeurList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract.Data" minOccurs="0" name="chauffeurList" nillable="true" type="q1:ArrayOfChauffeur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddChauffeurListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="AddChauffeurListResult" nillable="true" type="q2:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchAddChauffeur">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract.Data" minOccurs="0" name="chauffeurList" nillable="true" type="q3:ArrayOfChauffeur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BatchAddChauffeurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="BatchAddChauffeurResult" nillable="true" type="q4:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckChauffeurExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract.Data" minOccurs="0" name="chauffeurList" nillable="true" type="q5:ArrayOfChauffeur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckChauffeurExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="CheckChauffeurExistResult" nillable="true" type="q6:MultiMessageOfChauffeurh_PhsrrDr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddChauffeur">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract.Data" minOccurs="0" name="chauffeur" nillable="true" type="q7:Chauffeur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddChauffeurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="AddChauffeurResult" nillable="true" type="q8:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteChauffeur">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteChauffeurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="DeleteChauffeurResult" nillable="true" type="q9:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChauffeur">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract.Data" minOccurs="0" name="chauffeur" nillable="true" type="q10:Chauffeur" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChauffeurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="UpdateChauffeurResult" nillable="true" type="q11:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChauffeurByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="page" nillable="true" type="q12:PagingInfo" />
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChauffeurByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetChauffeurByPageResult" nillable="true" type="q13:MultiMessageOfChauffeurh_PhsrrDr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChauffeurByCondition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="licence" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="icard" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="page" nillable="true" type="q14:PagingInfo" />
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChauffeurByConditionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetChauffeurByConditionResult" nillable="true" type="q15:MultiMessageOfChauffeurh_PhsrrDr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChauffeurVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chauffeurID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChauffeurVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetChauffeurVehicleResult" nillable="true" type="q16:MultiMessageOfChauffeurVehicleh_PhsrrDr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChauffeurVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract.Data" minOccurs="0" name="chauffeurVehicle" nillable="true" type="q17:ArrayOfChauffeurVehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveChauffeurVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="SaveChauffeurVehicleResult" nillable="true" type="q18:SingleMessageOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChauffeurByVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clientID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChauffeurByVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Base.Contract.Data" minOccurs="0" name="GetChauffeurByVehicleResult" nillable="true" type="q19:MultiMessageOfChauffeurh_PhsrrDr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>