Platfrom/ServiceReference/Service References/VehicleService/VehicleService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2258/VehicleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" />
  <xs:complexType name="ArrayOfVVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VVehicle" nillable="true" type="tns:VVehicle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVVehicle" nillable="true" type="tns:ArrayOfVVehicle" />
  <xs:complexType name="VVehicle">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsChecked" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.Common.Data" minOccurs="0" name="Vehicles" nillable="true" type="q1:Vehicle" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VVehicle" nillable="true" type="tns:VVehicle" />
</xs:schema>