Platfrom_43027/Platfrom/ServiceReference/Service References/RunVehicleLocationService/RunVehicleLocationService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Gsafety.PTMS.BaseInformation.Contract.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RunVehicleLocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlarmFlag" type="xs:decimal" />
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DistrictCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GpsTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="GpsValid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" type="xs:decimal" />
      <xs:element minOccurs="0" name="Speed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusFlag" type="xs:decimal" />
      <xs:element minOccurs="0" name="VehicleId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RunVehicleLocation" nillable="true" type="tns:RunVehicleLocation" />
  <xs:complexType name="ArrayOfRunVehicleLocation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RunVehicleLocation" nillable="true" type="tns:RunVehicleLocation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRunVehicleLocation" nillable="true" type="tns:ArrayOfRunVehicleLocation" />
</xs:schema>